<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <link href="../../liaisons/css/styles.css"
        rel="stylesheet">
  <title>Date Picker | Système de design transactionnel | SAAQ</title>
</head>
<body class="page">
<a href="#contenu" class="sauter-contenu screen-reader-only">Passer au contenu</a>
<header class="piv">
  <div class="piv__conteneur">
    <a href="../../index.html"
       target="_top"
       class="piv__logo">
      <img src="../../liaisons/images/logo-quebec.svg"
           alt="Gouvernement du Québec"
           width="160">
    </a>
    <nav class="piv__navigation">
      <ul>
        <li>
          <a href="../../index.html">Accueil</a>
        </li>
        <li>
          <a href="#">Nous joindre</a>
        </li>
      </ul>
    </nav>
    <a href="https://saaq.gouv.qc.ca/"
       class="piv__titre"
       target="_top">Société de l'assurance automobile du Québec</a>
  </div>
</header>
<div class="page__conteneur">
  <section class="barrelaterale">
    <nav class="navigation">
      <a href="../../index.html"
         class="barrelaterale__titreSite">Système de&nbsp;design transactionnel</a>
      <ul class="navigation__liste">
        <li class="navigation__listeItem">
          <a class="navigation__lien"
             href="#">Components</a>
          <ul class="navigation__liste">
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../accordion/accordion.html">Accordion</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../back-to-top/back-to-top.html">Back to top</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../breadcrumb/breadcrumb.html">Breadcrumb</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../button/button.html">Button</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../card/card.html">Card</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../checkbox/checkbox.html">Checkbox</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../content-switcher/content-switcher.html">Content switcher</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../data-table/data-table.html">Data table</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../date-picker/date-picker.html">Date picker</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../dropdown/dropdown.html">Dropdown</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../file-uploader/file-uploader.html">File uploader</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../form/form.html">Form</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../interior-left-nav/interior-left-nav.html">Interior Left Nav</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../link/link.html">Link</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../list/list.html">List</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../loading/loading.html">Loading</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../modal/modal.html">Modal</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../notification/notification.html">Notification</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../number-input/number-input.html">Number input</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../overflow-menu/overflow-menu.html">Overflow menu</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../pagination/pagination.html">Pagination</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../progress-indicator/progress-indicator.html">Progress indicator</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../radio-button/radio-button.html">Radio button</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../search/search.html">Search</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../select/select.html">Select</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../slider/slider.html">Slider</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../step-hint/step-hint.html">Step Hint</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../structured-list/structured-list.html">Structured list</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../tabs/tabs.html">Tabs</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../tag/tag.html">Tag</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../text-input/text-input.html">Text input</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../toggle/toggle.html">Toogle</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../tooltip/tooltip.html">Tooltip</a>
            </li>
          </ul>
        </li>
        <li class="navigation__listeItem">
          <a class="navigation__lien"
             href="#">Style</a>
          <ul class="navigation__liste">
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../../style/color/color.html">Color</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../../style/grid/grid.html">Grid</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../../style/iconography/iconography.html">Iconography</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../../style/typography.html">Typography</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </section>
  <main id="contenu" class="contenu">
    <section class="section entete">
      <h1 class="entete__titre">Date Picker</h1>
      <nav class="entete__navPage">
        <ul class="entete__navPageListe">
          <li class="entete__navPageListeItem">
            <a class="entete__navPageLien"
               href="#composante">Date Picker</a>
          </li>
          <li class="entete__navPageListeItem">
            <a class="entete__navPageLien"
               href="#composante--headings1">Data Picker Format
            </a>
          </li>
          <li class="entete__navPageListeItem">
            <a class="entete__navPageLien"
               href="#composante--headings2">Data Picker Range
            </a>
          </li>
          <li class="entete__navPageListeItem">
            <a class="entete__navPageLien"
               href="#composante--headings3">Data Picker Single
            </a>
          </li>
        </ul>
      </nav>
    </section>
    <section id="composante"
             class="section conteneur">
      <h2 class="section__titreH2">Date Picker</h2>
      <section class="section composante">
        <h2 class="screen-reader-only">Composante</h2>

        <!-- Basic without calendar (mm/yy only) -->
        <div class="sdt-form-item">
          <div class="sdt-date-picker sdt-date-picker--simple sdt-date-picker--short">
            <div class="sdt-date-picker-container">
              <label for="date-picker-4" class="sdt-label">Date Picker label</label>
              <input type="text" id="date-picker-4" class="sdt-date-picker__input" pattern="\d{4}/\d{1,2}" placeholder="yyyy/mm" autocomplete="new-password" data-date-picker-input
              />
              <div class="sdt-form-requirement">
                Invalid date format.
              </div>
            </div>
          </div>
        </div>

        <!-- Basic without calendar -->
        <div class="sdt-form-item">
          <div class="sdt-date-picker sdt-date-picker--simple">
            <div class="sdt-date-picker-container">
              <label for="date-picker-5" class="sdt-label">Date Picker label</label>
              <input data-invalid type="text" id="date-picker-5" class="sdt-date-picker__input" pattern="\d{4}/\d{1,2}/\d{1,2}" placeholder="yyyy/mm/dd" autocomplete="new-password"
                     data-date-picker-input />
              <div class="sdt-form-requirement">
                Invalid date format.
              </div>
            </div>
          </div>
        </div>

      </section>

      <section id="code"
               class="section code">
        <h2 class="screen-reader-only">Code HTML</h2>
        <pre class="code-exemple">
                <code>
&lt;!-- Basic without calendar (mm/yy only) -->
&lt;div class="sdt-form-item">
  &lt;div class="sdt-date-picker sdt-date-picker--simple sdt-date-picker--short">
    &lt;div class="sdt-date-picker-container">
      &lt;label for="date-picker-4" class="sdt-label">Date Picker label&lt;/label>
      &lt;input type="text" id="date-picker-4" class="sdt-date-picker__input" pattern="\d{4}/\d{1,2}"
                  placeholder="yyyy/mm" autocomplete="new-password" data-date-picker-input/>
      &lt;div class="sdt-form-requirement">
        Invalid date format.
      &lt;/div>
    &lt;/div>
  &lt;/div>
&lt;/div>
&lt;!-- Basic without calendar -->
&lt;div class="sdt-form-item">
  &lt;div class="sdt-date-picker sdt-date-picker--simple">
    &lt;div class="sdt-date-picker-container">
      &lt;label for="date-picker-5" class="sdt-label">Date Picker label&lt;/label>
      &lt;input data-invalid type="text" id="date-picker-5" class="sdt-date-picker__input" pattern="\d{4}/\d{1,2}/\d{1,2}"
                  placeholder="yyyy/mm/dd" autocomplete="new-password" data-date-picker-input />
      &lt;div class="sdt-form-requirement">
        Invalid date format.
      &lt;/div>
    &lt;/div>
  &lt;/div>
&lt;/div>
                </code>
            </pre>
      </section>
    </section>
    <section id="composante--headings1"
             class="section conteneur">
      <h2 class="section__titreH2">Data Picker Format</h2>
      <section class="section composante">
        <h2 class="screen-reader-only">Composante</h2>
        <!--                Code of component-->
        <!-- Custom date format with calendar -->
        <div class="sdt-form-item">
          <div data-date-picker data-date-picker-type="single" class="sdt-date-picker sdt-date-picker--single" date-format="m/d/Y">
            <div class="sdt-date-picker-container">
              <label for="date-picker-3" class="sdt-label">Formatted Date Picker label</label>
              <svg data-date-picker-icon class="sdt-date-picker__icon" width="17" height="19" viewBox="0 0 17 19">
                <path d="M12 0h2v2.7h-2zM3 0h2v2.7H3z" />
                <path d="M0 2v17h17V2H0zm15 15H2V7h13v10z" />
                <path d="M9.9 15H8.6v-3.9H7.1v-.9c.9 0 1.7-.3 1.8-1.2h1v6z" />
              </svg>
              <input type="text" id="date-picker-3" class="sdt-date-picker__input" pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="mm/dd/yyyy" autocomplete="new-password"
                     data-date-picker-input />
            </div>
          </div>
        </div>

      </section>

      <section id="code--headings"
               class="section code">
        <h2 class="screen-reader-only">Code HTML</h2>
        <pre class="code-exemple">
                <code>
&lt;!-- Custom date format with calendar -->
&lt;div class="sdt-form-item">
  &lt;div data-date-picker data-date-picker-type="single" class="sdt-date-picker sdt-date-picker--single" date-format="m/d/Y">
    &lt;div class="sdt-date-picker-container">
      &lt;label for="date-picker-3" class="sdt-label">Formatted Date Picker label&lt;/label>
      &lt;svg data-date-picker-icon class="sdt-date-picker__icon" width="17" height="19" viewBox="0 0 17 19">
        &lt;path d="M12 0h2v2.7h-2zM3 0h2v2.7H3z" />
        &lt;path d="M0 2v17h17V2H0zm15 15H2V7h13v10z" />
        &lt;path d="M9.9 15H8.6v-3.9H7.1v-.9c.9 0 1.7-.3 1.8-1.2h1v6z" />
      &lt;/svg>
      &lt;input type="text" id="date-picker-3" class="sdt-date-picker__input" pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="mm/dd/yyyy" autocomplete="new-password"
             data-date-picker-input />
    &lt;/div>
  &lt;/div>
&lt;/div>

                </code>
            </pre>
      </section>
    </section>
    <section id="composante--headings2"
             class="section conteneur">
      <h2 class="section__titreH2">Data Picker Range</h2>
      <section class="section composante">
        <h2 class="screen-reader-only">Composante</h2>
        <!--                Code of component-->
        <!-- Custom date format with calendar -->
        <!-- Ranged -->
        <div class="sdt-form-item">
          <div data-date-picker data-date-picker-type="range" class="sdt-date-picker sdt-date-picker--range">
            <div class="sdt-date-picker-container">
              <label for="date-picker-1" class="sdt-label">Start date label</label>
              <input type="text" id="date-picker-1" class="sdt-date-picker__input" pattern="\d{4}/\d{1,2}/\d{1,2}" placeholder="yyyy/mm/dd" autocomplete="new-password"
                     data-date-picker-input-from />
            </div>
            <div class="sdt-date-picker-container">
              <label for="date-picker-2" class="sdt-label">End date label</label>
              <input type="text" id="date-picker-2" class="sdt-date-picker__input" pattern="\d{4}/\d{1,2}/\d{1,2}" placeholder="yyyy/mm/dd" autocomplete="new-password"
                     data-date-picker-input-to />
            </div>
            <svg data-date-picker-icon class="sdt-date-picker__icon" width="17" height="19" viewBox="0 0 17 19">
              <path d="M12 0h2v2.7h-2zM3 0h2v2.7H3z" />
              <path d="M0 2v17h17V2H0zm15 15H2V7h13v10z" />
              <path d="M9.9 15H8.6v-3.9H7.1v-.9c.9 0 1.7-.3 1.8-1.2h1v6z" />
            </svg>
          </div>
        </div>


      </section>

      <section id="code--headings"
               class="section code">
        <h2 class="screen-reader-only">Code HTML</h2>
        <pre class="code-exemple">
                <code>
&lt;!-- Ranged -->
&lt;div class="sdt-form-item">
  &lt;div data-date-picker data-date-picker-type="range" class="sdt-date-picker sdt-date-picker--range">
    &lt;div class="sdt-date-picker-container">
      &lt;label for="date-picker-1" class="sdt-label">Start date label&lt;/label>
      &lt;input type="text" id="date-picker-1" class="sdt-date-picker__input" pattern="\d{4}/\d{1,2}/\d{1,2}" placeholder="yyyy/mm/dd" autocomplete="new-password"
             data-date-picker-input-from />
    &lt;/div>
    &lt;div class="sdt-date-picker-container">
      &lt;label for="date-picker-2" class="sdt-label">End date label&lt;/label>
      &lt;input type="text" id="date-picker-2" class="sdt-date-picker__input" pattern="\d{4}/\d{1,2}/\d{1,2}" placeholder="yyyy/mm/dd" autocomplete="new-password"
             data-date-picker-input-to />
    &lt;/div>
    &lt;svg data-date-picker-icon class="sdt-date-picker__icon" width="17" height="19" viewBox="0 0 17 19">
      &lt;path d="M12 0h2v2.7h-2zM3 0h2v2.7H3z" />
      &lt;path d="M0 2v17h17V2H0zm15 15H2V7h13v10z" />
      &lt;path d="M9.9 15H8.6v-3.9H7.1v-.9c.9 0 1.7-.3 1.8-1.2h1v6z" />
    &lt;/svg>
  &lt;/div>
&lt;/div>


                </code>
            </pre>
      </section>
    </section>
    <section id="composante--headings3"
             class="section conteneur">
      <h2 class="section__titreH2"> Data Picker Single</h2>
      <section class="section composante">
        <h2 class="screen-reader-only">Composante</h2>
        <!--                Code of component-->
        <!-- Custom date format with calendar -->
        <!-- Ranged -->
        <!-- Basic with calendar -->
        <div class="sdt-form-item">
          <div data-date-picker data-date-picker-type="single" class="sdt-date-picker sdt-date-picker--single">
            <div class="sdt-date-picker-container">
              <label for="date-picker-3" class="sdt-label">Date Picker label</label>
              <svg data-date-picker-icon class="sdt-date-picker__icon" width="17" height="19" viewBox="0 0 17 19">
                <path d="M12 0h2v2.7h-2zM3 0h2v2.7H3z" />
                <path d="M0 2v17h17V2H0zm15 15H2V7h13v10z" />
                <path d="M9.9 15H8.6v-3.9H7.1v-.9c.9 0 1.7-.3 1.8-1.2h1v6z" />
              </svg>
              <input type="text" id="date-picker-3" class="sdt-date-picker__input" pattern="\d{4}/\d{1,2}/\d{1,2}" placeholder="yyyy/mm/dd" autocomplete="new-password"
                     data-date-picker-input />
              <div class="sdt-form-requirement">
                Invalid date format.
              </div>
            </div>
          </div>
        </div>



      </section>

      <section id="code--headings"
               class="section code">
        <h2 class="screen-reader-only">Code HTML</h2>
        <pre class="code-exemple">
                <code>
&lt;!-- Basic with calendar -->
&lt;div class="sdt-form-item">
  &lt;div data-date-picker data-date-picker-type="single" class="sdt-date-picker sdt-date-picker--single">
    &lt;div class="sdt-date-picker-container">
      &lt;label for="date-picker-3" class="sdt-label">Date Picker label&lt;/label>
      &lt;svg data-date-picker-icon class="sdt-date-picker__icon" width="17" height="19" viewBox="0 0 17 19">
        &lt;path d="M12 0h2v2.7h-2zM3 0h2v2.7H3z" />
        &lt;path d="M0 2v17h17V2H0zm15 15H2V7h13v10z" />
        &lt;path d="M9.9 15H8.6v-3.9H7.1v-.9c.9 0 1.7-.3 1.8-1.2h1v6z" />
      &lt;/svg>
      &lt;input type="text" id="date-picker-3" class="sdt-date-picker__input" pattern="\d{4}/\d{1,2}/\d{1,2}" placeholder="yyyy/mm/dd" autocomplete="new-password"
             data-date-picker-input />
      &lt;div class="sdt-form-requirement">
        Invalid date format.
      &lt;/div>
    &lt;/div>
  &lt;/div>
&lt;/div>
                </code>
            </pre>
      </section>
    </section>
    <section>
    </section>
  </main>
</div>
<footer class="piv__pieddepage">
  <img src="../../liaisons/images/logo-saaq.svg" width="200" alt="">
  <p class="piv__credits">© Gouvernement du Québec, 2023</p>
</footer>
</body>
<script src="date-picker.js"
        type="text/javascript"></script>
</html>



