<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>Back to top | Système de design transactionnel | SAAQ</title>
    <link href="../../liaisons/css/styles.css"
          rel="stylesheet">
    <script src="back-to-top.js"
            type="text/javascript" defer></script>
</head>
<body class="page">
<a href="#contenu" class="sauter-contenu screen-reader-only">Passer au contenu</a>
<header class="piv">
    <div class="piv__conteneur">
        <a href="../../index.html"
           target="_top"
           class="piv__logo">
            <img src="../../liaisons/images/logo-quebec.svg"
                 alt="Gouvernement du Québec"
                 width="160">
        </a>
        <nav class="piv__navigation">
            <ul>
                <li>
                    <a href="../../index.html">Accueil</a>
                </li>
                <li>
                    <a href="#">Nous joindre</a>
                </li>
            </ul>
        </nav>
        <a href="https://saaq.gouv.qc.ca/"
           class="piv__titre"
           target="_top">Société de l'assurance automobile du Québec</a>
    </div>
</header>
<div class="page__conteneur">
    <section class="barrelaterale">
        <nav class="navigation">
            <a href="../../index.html"
               class="barrelaterale__titreSite">Système de&nbsp;design transactionnel</a>
            <ul class="navigation__liste">
                <li class="navigation__listeItem">
                    <a class="navigation__lien"
                       href="#">Components</a>
                    <ul class="navigation__liste">
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../accordion/accordion.html">Accordion</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../back-to-top/back-to-top.html">Back to top</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../breadcrumb/breadcrumb.html">Breadcrumb</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../button/button.html">Button</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../card/card.html">Card</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../checkbox/checkbox.html">Checkbox</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../content-switcher/content-switcher.html">Content switcher</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../data-table/data-table.html">Data table</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../date-picker/date-picker.html">Date picker</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../dropdown/dropdown.html">Dropdown</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../file-uploader/file-uploader.html">File uploader</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../form/form.html">Form</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../interior-left-nav/interior-left-nav.html">Interior Left Nav</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../link/link.html">Link</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../list/list.html">List</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../loading/loading.html">Loading</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../modal/modal.html">Modal</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../notification/notification.html">Notification</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../number-input/number-input.html">Number input</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../overflow-menu/overflow-menu.html">Overflow menu</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../pagination/pagination.html">Pagination</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../progress-indicator/progress-indicator.html">Progress indicator</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../radio-button/radio-button.html">Radio button</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../search/search.html">Search</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../select/select.html">Select</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../slider/slider.html">Slider</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../step-hint/step-hint.html">Step Hint</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../structured-list/structured-list.html">Structured list</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../tabs/tabs.html">Tabs</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../tag/tag.html">Tag</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../text-input/text-input.html">Text input</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../toggle/toggle.html">Toogle</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../tooltip/tooltip.html">Tooltip</a>
                        </li>
                    </ul>
                </li>
                <li class="navigation__listeItem">
                    <a class="navigation__lien"
                       href="#">Style</a>
                    <ul class="navigation__liste">
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../../style/color/color.html">Color</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../../style/grid/grid.html">Grid</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../../style/iconography/iconography.html">Iconography</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../../style/typography.html">Typography</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </section>
    <main id="contenu" class="contenu">
        <section class="section entete">
            <h1 class="entete__titre">Back to top</h1>
<!--            <nav class="entete__navPage">-->
<!--                <ul class="entete__navPageListe">-->
<!--                    <li class="entete__navPageListeItem">-->
<!--                        <a class="entete__navPageLien"-->
<!--                           href="#composante">Tag</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </nav>-->
        </section>
        <section id="composante"
                 class="section conteneur">
            <h2 class="section__titreH2">Back to top</h2>
            <section class="section composante">
                <h2 class="screen-reader-only">Composante</h2>
                <!-- Code of component -->
                <button id="backToTopButton" class="sdt-btn sdt-btn--secondary sdt-btn--backtotop" aria-label="Back to top" type="button" style="display: none">
                    <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" aria-hidden="true" style="will-change: transform;">
                        <path d="M16 13L6 23 7.41 24.41 16 15.83 24.59 24.41 26 23 16 13zM4 7H28V9H4z"></path>
                        <title>Up to top</title>
                    </svg>
                </button>
                <!-- Informative notification, not part of the button integration -->
                <div>
                    The button will display at the lower right corner of your screen when you scroll down.
                </div>
            </section>
            <section id="code"
                     class="section code">
                <h2 class="screen-reader-only">Code HTML</h2>
                <pre class="code-exemple">
                <code>

&lt;button id="backToTopButton" class="sdt-btn sdt-btn--secondary sdt-btn--backtotop" aria-label="Back to top" type="button" style="display: none">
    &lt;svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" aria-hidden="true" style="will-change: transform;">
        &lt;path d="M16 13L6 23 7.41 24.41 16 15.83 24.59 24.41 26 23 16 13zM4 7H28V9H4z">&lt;/path>
        &lt;title>Up to top&lt;/title>
    &lt;/svg>
&lt;/button>
                </code>
            </pre>
            </section>
        </section>
        <section class="section conteneur" id="documentation">
            <h2 class="section__titreH2">Documentation</h2>
            <h3 class="section__titreH3">JavaScript</h3>
            <h4 class="section__titreH4">Single-Instance restriction</h4>
            <p>The Back To Top has been designed to be instanciated only once in a page.</p>
        </section>
    </main>
</div>
<footer class="piv__pieddepage">
    <img src="../../liaisons/images/logo-saaq.svg" width="200" alt="">
    <p class="piv__credits">© Gouvernement du Québec, 2023</p>
</footer>
</body>
</html>





