<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../liaisons/css/styles.css" rel="stylesheet">
    <script src="../overflow-menu/overflow-menu.js" defer></script>
    <title>Card | Système de design transactionnel | SAAQ</title>
</head>
<body class="page">
<a href="#contenu" class="sauter-contenu screen-reader-only">Passer au contenu</a>
<header class="piv">
    <div class="piv__conteneur">
        <a href="../../index.html"
           target="_top"
           class="piv__logo">
            <img src="../../liaisons/images/logo-quebec.svg"
                 alt="Gouvernement du Québec"
                 width="160">
        </a>
        <nav class="piv__navigation">
            <ul>
                <li>
                    <a href="../../index.html">Accueil</a>
                </li>
                <li>
                    <a href="#">Nous joindre</a>
                </li>
            </ul>
        </nav>
        <a href="https://saaq.gouv.qc.ca/"
           class="piv__titre"
           target="_top">Société de l'assurance automobile du Québec</a>
    </div>
</header>
<div class="page__conteneur">
    <section class="barrelaterale">
        <nav class="navigation">
            <a href="../../index.html"
               class="barrelaterale__titreSite">Système de&nbsp;design transactionnel</a>
            <ul class="navigation__liste">
                <li class="navigation__listeItem">
                    <a class="navigation__lien"
                       href="#">Components</a>
                    <ul class="navigation__liste">
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../accordion/accordion.html">Accordion</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../back-to-top/back-to-top.html">Back to top</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../breadcrumb/breadcrumb.html">Breadcrumb</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../button/button.html">Button</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../card/card.html">Card</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../checkbox/checkbox.html">Checkbox</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../content-switcher/content-switcher.html">Content switcher</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../data-table/data-table.html">Data table</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../date-picker/date-picker.html">Date picker</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../dropdown/dropdown.html">Dropdown</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../file-uploader/file-uploader.html">File uploader</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../form/form.html">Form</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../interior-left-nav/interior-left-nav.html">Interior Left Nav</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../link/link.html">Link</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../list/list.html">List</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../loading/loading.html">Loading</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../modal/modal.html">Modal</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../notification/notification.html">Notification</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../number-input/number-input.html">Number input</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../overflow-menu/overflow-menu.html">Overflow menu</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../pagination/pagination.html">Pagination</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../progress-indicator/progress-indicator.html">Progress indicator</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../radio-button/radio-button.html">Radio button</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../search/search.html">Search</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../select/select.html">Select</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../slider/slider.html">Slider</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../step-hint/step-hint.html">Step Hint</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../structured-list/structured-list.html">Structured list</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../tabs/tabs.html">Tabs</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../tag/tag.html">Tag</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../text-input/text-input.html">Text input</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../toggle/toggle.html">Toogle</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../tooltip/tooltip.html">Tooltip</a>
                        </li>
                    </ul>
                </li>
                <li class="navigation__listeItem">
                    <a class="navigation__lien"
                       href="#">Style</a>
                    <ul class="navigation__liste">
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../../style/color/color.html">Color</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../../style/grid/grid.html">Grid</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../../style/iconography/iconography.html">Iconography</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../../style/typography.html">Typography</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </section>
    <main id="contenu" class="contenu">
        <section class="section entete">
            <h1 class="entete__titre">Card</h1>
            <nav class="entete__navPage">
                <ul class="entete__navPageListe">
                    <li class="entete__navPageListeItem">
                        <a class="entete__navPageLien" href="#base">Card</a>
                    </li>
                    <li class="entete__navPageListeItem">
                        <a class="entete__navPageLien" href="#bancaire">Card – bancaire</a>
                    </li>
                    <li class="entete__navPageListeItem">
                        <a class="entete__navPageLien" href="#liste">Card – liste</a>
                    </li>
                </ul>
            </nav>
        </section>
        <section id="base" class="section conteneur">
            <h2 class="section__titreH2">Card</h2>
            <section class="section composante">
                <h2 class="screen-reader-only">Composante</h2>
                <!-- Code of component-->
                <!-- Chaque id du bouton du menu et son aria-controls doit être unique. Utiliser par exemple le id unique de l'enregistrement en provenance du CMS ou de la BD-->
                <article class="sdt-card">
                    <header class="sdt-card__header">
                        <h3 class="sdt-card__titre">Card name</h3>
                        <button class="sdt-overflow-menu__bouton"
                                aria-label="Libellé à définir" aria-expanded="false" aria-controls="overflowMenu" type="button">
                        </button>
                        <nav id="overflowMenu" class="sdt-overflow-menu__navigation">
                            <ul class="sdt-overflow-menu__liste">
                                <li class="sdt-overflow-menu__item">
                                    <a class="sdt-overflow-menu__lien" href="#">Action 1</a>
                                </li>
                                <li class="sdt-overflow-menu__item">
                                    <a class="sdt-overflow-menu__lien" href="#">Action 2</a>
                                </li>
                            </ul>
                        </nav>
                    </header>
                    <div class="sdt-card__contenu">
                        <p><span class="sdt-card__contenu-sous-titre">Sous-titre&nbsp;:</span> Secondary Information</p>
                        <p class="sdt-tag bleu">Tag</p>
                    </div>
                    <footer class="sdt-card__footer">
                        <a class="sdt-btn" href="#">Action</a>
                    </footer>
                </article>
            </section>

            <section class="section code">
                <h2 class="screen-reader-only">Code HTML</h2>
                <pre class="code-exemple">
                <code>
&lt;article class="sdt-card">
   &lt;header class="sdt-card__header">
       &lt;h3 class="sdt-card__titre">Card name&lt;/h3>
       &lt;button class="sdt-overflow-menu__bouton"
                aria-label="Libellé à définir" aria-expanded="false" aria-controls="overflowMenu" type="button">
       &lt;/button>
       &lt;nav id="overflowMenu" class="sdt-overflow-menu__navigation">
           &lt;ul class="sdt-overflow-menu__liste">
               &lt;li class="sdt-overflow-menu__item">
                   &lt;a class="sdt-overflow-menu__lien" href="#">Action 1&lt;/a>
               &lt;/li>
               &lt;li class="sdt-overflow-menu__item">
                   &lt;a class="sdt-overflow-menu__lien" href="#">Action 2&lt;/a>
               &lt;/li>
           &lt;/ul>
       &lt;/nav>
   &lt;/header>
   &lt;div class="sdt-card__contenu">
       &lt;p>&lt;span class="sdt-card__contenu-sous-titre">Sous-titre&nbsp;:&lt;/span> Secondary Information&lt;/p>
       &lt;p class="sdt-tag bleu">Tag&lt;/p>
   &lt;/div>
   &lt;footer class="sdt-card__footer">
       &lt;a class="sdt-btn" href="#">Action&lt;/a>
   &lt;/footer>
&lt;/article>
                </code>
            </pre>
            </section>
        </section>
        <section id="bancaire" class="section conteneur">
            <h2 class="section__titreH2">Card – bancaire</h2>
            <section class="section composante">
                <h2 class="screen-reader-only">Composante</h2>
                <!-- Code of component -->
                <!-- Chaque id du bouton du menu et son aria-controls doit être unique. Utiliser par exemple le id unique de l'enregistrement en provenance du CMS ou de la BD-->
                <article class="sdt-card">
                    <header class="sdt-card__header">
                        <h3 class="sdt-card__titre">HienQA03 HSBC</h3>
                        <button class="sdt-overflow-menu__bouton"
                                aria-label="Libellé à définir" aria-expanded="false" aria-controls="overflowMenu002" type="button">
                        </button>
                        <nav id="overflowMenu002" class="sdt-overflow-menu__navigation">
                            <ul class="sdt-overflow-menu__liste">
                                <li class="sdt-overflow-menu__item">
                                    <a class="sdt-overflow-menu__lien" href="#">Action 1</a>
                                </li>
                                <li class="sdt-overflow-menu__item">
                                    <a class="sdt-overflow-menu__lien" href="#">Action 2</a>
                                </li>
                            </ul>
                        </nav>
                    </header>
                    <div class="sdt-card__contenu">
                        <p><span class="sdt-card__contenu-sous-titre">Institution financière&nbsp;:</span> HSBC BANK CANADA</p>
                        <p><span class="sdt-card__contenu-sous-titre">Adresse de l’instution financière&nbsp;:</span> AB, 347-8th Avenue S.E., Calgary, T2H0P3</p>
                        <p><span class="sdt-card__contenu-sous-titre">Numéro de compte&nbsp;:</span> ****8369</p>
                        <p class="sdt-tag bleu">Prélèvement bancaire automatique</p>
                    </div>
                    <footer class="sdt-card__footer">
                        <a class="sdt-btn" href="#">Voir les détails</a>
                    </footer>
                </article>
                <!-- End code of component -->
            </section>

            <section id="code" class="section code">
                <h2 class="screen-reader-only">Code HTML</h2>
                <pre class="code-exemple">
                <code>
&lt;article class="sdt-card">
   &lt;header class="sdt-card__header">
       &lt;h3 class="sdt-card__titre">HienQA03 HSBC&lt;/h3>
       &lt;button class="sdt-overflow-menu__bouton"
                aria-label="Libellé à définir" aria-expanded="false" aria-controls="overflowMenu002" type="button">
       &lt;/button>
       &lt;nav id="overflowMenu002" class="sdt-overflow-menu__navigation">
           &lt;ul class="sdt-overflow-menu__liste">
               &lt;li class="sdt-overflow-menu__item">
                   &lt;a class="sdt-overflow-menu__lien" href="#">Action 1&lt;/a>
               &lt;/li>
               &lt;li class="sdt-overflow-menu__item">
                   &lt;a class="sdt-overflow-menu__lien" href="#">Action 2&lt;/a>
               &lt;/li>
           &lt;/ul>
       &lt;/nav>
   &lt;/header>
   &lt;div class="sdt-card__contenu">
       &lt;p>&lt;span class="sdt-card__contenu-sous-titre">Institution financière&nbsp;:
                    &lt;/span> HSBC BANK CANADA&lt;/p>
       &lt;p>&lt;span class="sdt-card__contenu-sous-titre">Adresse de l’instution financière&nbsp;:
                    &lt;/span> AB, 347-8th Avenue S.E., Calgary, T2H0P3&lt;/p>
       &lt;p>&lt;span class="sdt-card__contenu-sous-titre">Numéro de compte&nbsp;:&lt;/span> ****8369&lt;/p>
       &lt;p class="sdt-tag bleu">Prélèvement bancaire automatique&lt;/p>
   &lt;/div>
   &lt;footer class="sdt-card__footer">
       &lt;a class="sdt-btn" href="#">Voir les détails&lt;/a>
   &lt;/footer>
&lt;/article>
                </code>
            </pre>
            </section>
        </section>
        <section id="liste" class="section conteneur">
            <h2 class="section__titreH2">Card – liste</h2>
            <section class="section composante">
                <h2 class="screen-reader-only">Composante</h2>
                <!-- Code of component -->
                <!-- Chaque id du bouton du menu et son aria-controls doit être unique. Utiliser par exemple le id unique de l'enregistrement en provenance du CMS ou de la BD-->
                <article class="sdt-cards">
                    <article class="sdt-card">
                        <header class="sdt-card__header">
                            <h3 class="sdt-card__titre">Toyota Yaris 2013</h3>
                            <button class="sdt-overflow-menu__bouton"
                                    aria-label="Libellé à définir" aria-expanded="false" aria-controls="overflowMenu300" type="button">
                            </button>
                            <nav id="overflowMenu300" class="sdt-overflow-menu__navigation">
                                <ul class="sdt-overflow-menu__liste">
                                    <li class="sdt-overflow-menu__item">
                                        <a class="sdt-overflow-menu__lien" href="#">Action 1</a>
                                    </li>
                                    <li class="sdt-overflow-menu__item">
                                        <a class="sdt-overflow-menu__lien" href="#">Action 2</a>
                                    </li>
                                </ul>
                            </nav>
                        </header>
                        <div class="sdt-card__contenu">
                            <p><span class="sdt-card__contenu-sous-titre">Immatriculation&nbsp;:</span> 245WWT</p>
                            <img class="sdt-card__contenu-icone" src="../../liaisons/images/auto.svg"
                                 alt="">
                            <p class="sdt-tag vert">En circulation</p>
                        </div>
                        <footer class="sdt-card__footer">
                            <a class="sdt-btn" href="#">Voir les détails</a>
                        </footer>
                    </article>
                    <article class="sdt-card">
                        <header class="sdt-card__header">
                            <h3 class="sdt-card__titre">Toyota Yaris 2013</h3>
                            <button class="sdt-overflow-menu__bouton"
                                    aria-label="Libellé à définir" aria-expanded="false" aria-controls="overflowMenu301" type="button">
                            </button>
                            <nav id="overflowMenu301" class="sdt-overflow-menu__navigation">
                                <ul class="sdt-overflow-menu__liste">
                                    <li class="sdt-overflow-menu__item">
                                        <a class="sdt-overflow-menu__lien" href="#">Action 1</a>
                                    </li>
                                    <li class="sdt-overflow-menu__item">
                                        <a class="sdt-overflow-menu__lien" href="#">Action 2</a>
                                    </li>
                                </ul>
                            </nav>
                        </header>
                        <div class="sdt-card__contenu">
                            <p><span class="sdt-card__contenu-sous-titre">Immatriculation&nbsp;:</span> 245WWT</p>
                            <img class="sdt-card__contenu-icone" src="../../liaisons/images/auto.svg"
                                 alt="">
                            <p class="sdt-tag vert">En circulation</p>
                        </div>
                        <footer class="sdt-card__footer">
                            <a class="sdt-btn" href="#">Voir les détails</a>
                        </footer>
                    </article>
                    <article class="sdt-card">
                        <header class="sdt-card__header">
                            <h3 class="sdt-card__titre">Toyota Yaris 2013</h3>
                            <button class="sdt-overflow-menu__bouton"
                                    aria-label="Libellé à définir" aria-expanded="false" aria-controls="overflowMenu302" type="button">
                            </button>
                            <nav id="overflowMenu302" class="sdt-overflow-menu__navigation">
                                <ul class="sdt-overflow-menu__liste">
                                    <li class="sdt-overflow-menu__item">
                                        <a class="sdt-overflow-menu__lien" href="#">Action 1</a>
                                    </li>
                                    <li class="sdt-overflow-menu__item">
                                        <a class="sdt-overflow-menu__lien" href="#">Action 2</a>
                                    </li>
                                </ul>
                            </nav>
                        </header>
                        <div class="sdt-card__contenu">
                            <p><span class="sdt-card__contenu-sous-titre">Immatriculation&nbsp;:</span> 245WWT</p>
                            <img class="sdt-card__contenu-icone" src="../../liaisons/images/auto.svg"
                                 alt="">
                            <p class="sdt-tag rouge">Interdit de circuler</p>
                        </div>
                        <footer class="sdt-card__footer">
                            <a class="sdt-btn" href="#">Voir les détails</a>
                        </footer>
                    </article>
                    <article class="sdt-card">
                        <header class="sdt-card__header">
                            <h3 class="sdt-card__titre">Toyota Yaris 2013</h3>
                            <button class="sdt-overflow-menu__bouton"
                                    aria-label="Libellé à définir" aria-expanded="false" aria-controls="overflowMenu303" type="button">
                            </button>
                            <nav id="overflowMenu303" class="sdt-overflow-menu__navigation">
                                <ul class="sdt-overflow-menu__liste">
                                    <li class="sdt-overflow-menu__item">
                                        <a class="sdt-overflow-menu__lien" href="#">Action 1</a>
                                    </li>
                                    <li class="sdt-overflow-menu__item">
                                        <a class="sdt-overflow-menu__lien" href="#">Action 2</a>
                                    </li>
                                </ul>
                            </nav>
                        </header>
                        <div class="sdt-card__contenu">
                            <p><span class="sdt-card__contenu-sous-titre">Immatriculation&nbsp;:</span> 245WWT</p>
                            <img class="sdt-card__contenu-icone" src="../../liaisons/images/auto.svg"
                                 alt="">
                            <p class="sdt-tag jaune">Remisé</p>
                        </div>
                        <footer class="sdt-card__footer">
                            <a class="sdt-btn" href="#">Voir les détails</a>
                        </footer>
                    </article>
                    <article class="sdt-card">
                        <header class="sdt-card__header">
                            <h3 class="sdt-card__titre">Toyota Yaris 2013</h3>
                            <button class="sdt-overflow-menu__bouton"
                                    aria-label="Libellé à définir" aria-expanded="false" aria-controls="overflowMenu304" type="button">
                            </button>
                            <nav id="overflowMenu304" class="sdt-overflow-menu__navigation">
                                <ul class="sdt-overflow-menu__liste">
                                    <li class="sdt-overflow-menu__item">
                                        <a class="sdt-overflow-menu__lien" href="#">Action 1</a>
                                    </li>
                                    <li class="sdt-overflow-menu__item">
                                        <a class="sdt-overflow-menu__lien" href="#">Action 2</a>
                                    </li>
                                </ul>
                            </nav>
                        </header>
                        <div class="sdt-card__contenu">
                            <p><span class="sdt-card__contenu-sous-titre">Immatriculation&nbsp;:</span> 245WWT</p>
                            <img class="sdt-card__contenu-icone" src="../../liaisons/images/auto.svg"
                                 alt="">
                            <p class="sdt-tag vert">En circulation</p>
                        </div>
                        <footer class="sdt-card__footer">
                            <a class="sdt-btn" href="#">Voir les détails</a>
                        </footer>
                    </article>
                    <article class="sdt-card">
                        <header class="sdt-card__header">
                            <h3 class="sdt-card__titre">Toyota Yaris 2013</h3>
                            <button class="sdt-overflow-menu__bouton"
                                    aria-label="Libellé à définir" aria-expanded="false" aria-controls="overflowMenu305" type="button">
                            </button>
                            <nav id="overflowMenu305" class="sdt-overflow-menu__navigation">
                                <ul class="sdt-overflow-menu__liste">
                                    <li class="sdt-overflow-menu__item">
                                        <a class="sdt-overflow-menu__lien" href="#">Action 1</a>
                                    </li>
                                    <li class="sdt-overflow-menu__item">
                                        <a class="sdt-overflow-menu__lien" href="#">Action 2</a>
                                    </li>
                                </ul>
                            </nav>
                        </header>
                        <div class="sdt-card__contenu">
                            <p><span class="sdt-card__contenu-sous-titre">Immatriculation&nbsp;:</span> 245WWT</p>
                            <img class="sdt-card__contenu-icone" src="../../liaisons/images/auto.svg"
                                 alt="">
                            <p class="sdt-tag vert">En circulation</p>
                        </div>
                        <footer class="sdt-card__footer">
                            <a class="sdt-btn" href="#">Voir les détails</a>
                        </footer>
                    </article>
                </article>
                <!-- End code of component -->
            </section>

            <section id="code--headings" class="section code">
                <h2 class="screen-reader-only">Code HTML</h2>
                <pre class="code-exemple">
                <code>
   &lt;article class="sdt-cards">
       &lt;article class="sdt-card">
           &lt;header class="sdt-card__header">
           &lt;h3 class="sdt-card__titre">Toyota Yaris 2013   &lt;/h3>
           &lt;button class="sdt-overflow-menu__bouton"
                    aria-label="Libellé à définir" aria-expanded="false" aria-controls="overflowMenu300" type="button">
           &lt;/button>
           &lt;nav id="overflowMenu300" class="sdt-overflow-menu__navigation">
               &lt;ul class="sdt-overflow-menu__liste">
                   &lt;li class="sdt-overflow-menu__item">
                       &lt;a class="sdt-overflow-menu__lien" href="#">Action 1   &lt;/a>
                   &lt;/li>
                   &lt;li class="sdt-overflow-menu__item">
                       &lt;a class="sdt-overflow-menu__lien" href="#">Action 2   &lt;/a>
                   &lt;/li>
               &lt;/ul>
           &lt;/nav>
       &lt;/header>
       &lt;div class="sdt-card__contenu">
           &lt;p>   &lt;span class="sdt-card__contenu-sous-titre">Immatriculation&nbsp;:   &lt;/span> 245WWT   &lt;/p>
           &lt;img class="sdt-card__contenu-icone" src="../../liaisons/images/auto.svg"
                 alt="">
           &lt;p class="sdt-tag vert">En circulation   &lt;/p>
       &lt;/div>
       &lt;footer class="sdt-card__footer">
           &lt;a class="sdt-btn" href="#">Voir les détails   &lt;/a>
       &lt;/footer>
   &lt;/article>
   &lt;article class="sdt-card">
       &lt;header class="sdt-card__header">
           &lt;h3 class="sdt-card__titre">Toyota Yaris 2013   &lt;/h3>
           &lt;button class="sdt-overflow-menu__bouton"
                    aria-label="Libellé à définir" aria-expanded="false"
                    aria-controls="overflowMenu301" type="button">
           &lt;/button>
           &lt;nav id="overflowMenu301" class="sdt-overflow-menu__navigation">
               &lt;ul class="sdt-overflow-menu__liste">
                   &lt;li class="sdt-overflow-menu__item">
                       &lt;a class="sdt-overflow-menu__lien" href="#">Action 1   &lt;/a>
                   &lt;/li>
                   &lt;li class="sdt-overflow-menu__item">
                       &lt;a class="sdt-overflow-menu__lien" href="#">Action 2   &lt;/a>
                   &lt;/li>
               &lt;/ul>
           &lt;/nav>
       &lt;/header>
       &lt;div class="sdt-card__contenu">
           &lt;p>   &lt;span class="sdt-card__contenu-sous-titre">Immatriculation&nbsp;:   &lt;/span> 245WWT   &lt;/p>
           &lt;img class="sdt-card__contenu-icone" src="../../liaisons/images/auto.svg"
                 alt="">
           &lt;p class="sdt-tag vert">En circulation   &lt;/p>
       &lt;/div>
       &lt;footer class="sdt-card__footer">
           &lt;a class="sdt-btn" href="#">Voir les détails   &lt;/a>
       &lt;/footer>
   &lt;/article>
   &lt;article class="sdt-card">
       &lt;header class="sdt-card__header">
           &lt;h3 class="sdt-card__titre">Toyota Yaris 2013   &lt;/h3>
           &lt;button class="sdt-overflow-menu__bouton"
                    aria-label="Libellé à définir" aria-expanded="false"
                    aria-controls="overflowMenu302" type="button">
           &lt;/button>
           &lt;nav id="overflowMenu302" class="sdt-overflow-menu__navigation">
               &lt;ul class="sdt-overflow-menu__liste">
                   &lt;li class="sdt-overflow-menu__item">
                       &lt;a class="sdt-overflow-menu__lien" href="#">Action 1   &lt;/a>
                   &lt;/li>
                   &lt;li class="sdt-overflow-menu__item">
                       &lt;a class="sdt-overflow-menu__lien" href="#">Action 2   &lt;/a>
                   &lt;/li>
               &lt;/ul>
           &lt;/nav>
       &lt;/header>
       &lt;div class="sdt-card__contenu">
           &lt;p>   &lt;span class="sdt-card__contenu-sous-titre">Immatriculation&nbsp;:   &lt;/span> 245WWT   &lt;/p>
           &lt;img class="sdt-card__contenu-icone" src="../../liaisons/images/auto.svg"
                 alt="">
           &lt;p class="sdt-tag rouge">Interdit de circuler   &lt;/p>
       &lt;/div>
       &lt;footer class="sdt-card__footer">
           &lt;a class="sdt-btn" href="#">Voir les détails   &lt;/a>
       &lt;/footer>
   &lt;/article>
   &lt;article class="sdt-card">
       &lt;header class="sdt-card__header">
           &lt;h3 class="sdt-card__titre">Toyota Yaris 2013   &lt;/h3>
           &lt;button class="sdt-overflow-menu__bouton"
                    aria-label="Libellé à définir" aria-expanded="false"
                    aria-controls="overflowMenu303" type="button">
           &lt;/button>
           &lt;nav id="overflowMenu303" class="sdt-overflow-menu__navigation">
               &lt;ul class="sdt-overflow-menu__liste">
                   &lt;li class="sdt-overflow-menu__item">
                       &lt;a class="sdt-overflow-menu__lien" href="#">Action 1   &lt;/a>
                   &lt;/li>
                   &lt;li class="sdt-overflow-menu__item">
                       &lt;a class="sdt-overflow-menu__lien" href="#">Action 2   &lt;/a>
                   &lt;/li>
               &lt;/ul>
           &lt;/nav>
       &lt;/header>
       &lt;div class="sdt-card__contenu">
           &lt;p>   &lt;span class="sdt-card__contenu-sous-titre">Immatriculation&nbsp;:   &lt;/span> 245WWT   &lt;/p>
           &lt;img class="sdt-card__contenu-icone" src="../../liaisons/images/auto.svg"
                 alt="">
           &lt;p class="sdt-tag jaune">Remisé   &lt;/p>
       &lt;/div>
       &lt;footer class="sdt-card__footer">
           &lt;a class="sdt-btn" href="#">Voir les détails   &lt;/a>
       &lt;/footer>
   &lt;/article>
   &lt;article class="sdt-card">
       &lt;header class="sdt-card__header">
           &lt;h3 class="sdt-card__titre">Toyota Yaris 2013   &lt;/h3>
           &lt;button class="sdt-overflow-menu__bouton"
                    aria-label="Libellé à définir" aria-expanded="false"
                    aria-controls="overflowMenu304" type="button">
           &lt;/button>
           &lt;nav id="overflowMenu304" class="sdt-overflow-menu__navigation">
               &lt;ul class="sdt-overflow-menu__liste">
                   &lt;li class="sdt-overflow-menu__item">
                       &lt;a class="sdt-overflow-menu__lien" href="#">Action 1   &lt;/a>
                   &lt;/li>
                   &lt;li class="sdt-overflow-menu__item">
                       &lt;a class="sdt-overflow-menu__lien" href="#">Action 2   &lt;/a>
                   &lt;/li>
               &lt;/ul>
           &lt;/nav>
       &lt;/header>
       &lt;div class="sdt-card__contenu">
           &lt;p>   &lt;span class="sdt-card__contenu-sous-titre">Immatriculation&nbsp;:   &lt;/span> 245WWT   &lt;/p>
           &lt;img class="sdt-card__contenu-icone" src="../../liaisons/images/auto.svg"
                                 alt="">
           &lt;p class="sdt-tag vert">En circulation   &lt;/p>
       &lt;/div>
       &lt;footer class="sdt-card__footer">
           &lt;a class="sdt-btn" href="#">Voir les détails   &lt;/a>
       &lt;/footer>
   &lt;/article>
   &lt;article class="sdt-card">
       &lt;header class="sdt-card__header">
           &lt;h3 class="sdt-card__titre">Toyota Yaris 2013   &lt;/h3>
           &lt;button class="sdt-overflow-menu__bouton"
                    aria-label="Libellé à définir" aria-expanded="false"
                    aria-controls="overflowMenu305" type="button">
           &lt;/button>
           &lt;nav id="overflowMenu305" class="sdt-overflow-menu__navigation">
               &lt;ul class="sdt-overflow-menu__liste">
                   &lt;li class="sdt-overflow-menu__item">
                       &lt;a class="sdt-overflow-menu__lien" href="#">Action 1   &lt;/a>
                   &lt;/li>
                   &lt;li class="sdt-overflow-menu__item">
                       &lt;a class="sdt-overflow-menu__lien" href="#">Action 2   &lt;/a>
                   &lt;/li>
               &lt;/ul>
           &lt;/nav>
       &lt;/header>
       &lt;div class="sdt-card__contenu">
           &lt;p><span class="sdt-card__contenu-sous-titre">Immatriculation&nbsp;:   &lt;/span> 245WWT   &lt;/p>
           &lt;img class="sdt-card__contenu-icone" src="../../liaisons/images/auto.svg"
                 alt="">
           &lt;p class="sdt-tag vert">En circulation   &lt;/p>
       &lt;/div>
       &lt;footer class="sdt-card__footer">
           &lt;a class="sdt-btn" href="#">Voir les détails   &lt;/a>
       &lt;/footer>
   &lt;/article>
   &lt;/article>
                </code>
            </pre>
            </section>
        </section>
    </main>
</div>
<footer class="piv__pieddepage">
    <img src="../../liaisons/images/logo-saaq.svg" width="200" alt="">
    <p class="piv__credits">© Gouvernement du Québec, 2023</p>
</footer>
</body>
</html>
