<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <link href="../../liaisons/css/styles.css"
        rel="stylesheet">
  <title>Forms | Système de design transactionnel | SAAQ</title>
</head>
<body class="page">
<a href="#contenu" class="sauter-contenu screen-reader-only">Passer au contenu</a>
<header class="piv">
  <div class="piv__conteneur">
    <a href="../../index.html"
       target="_top"
       class="piv__logo">
      <img src="../../liaisons/images/logo-quebec.svg"
           alt="Gouvernement du Québec"
           width="160">
    </a>
    <nav class="piv__navigation">
      <ul>
        <li>
          <a href="../../index.html">Accueil</a>
        </li>
        <li>
          <a href="#">Nous joindre</a>
        </li>
      </ul>
    </nav>
    <a href="https://saaq.gouv.qc.ca/"
       class="piv__titre"
       target="_top">Société de l'assurance automobile du Québec</a>
  </div>
</header>
<div class="page__conteneur">
  <section class="barrelaterale">
    <nav class="navigation">
      <a href="../../index.html"
         class="barrelaterale__titreSite">Système de&nbsp;design transactionnel</a>
      <ul class="navigation__liste">
        <li class="navigation__listeItem">
          <a class="navigation__lien"
             href="#">Components</a>
          <ul class="navigation__liste">
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../accordion/accordion.html">Accordion</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../back-to-top/back-to-top.html">Back to top</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../breadcrumb/breadcrumb.html">Breadcrumb</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../button/button.html">Button</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../card/card.html">Card</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../checkbox/checkbox.html">Checkbox</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../content-switcher/content-switcher.html">Content switcher</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../data-table/data-table.html">Data table</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../date-picker/date-picker.html">Date picker</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../dropdown/dropdown.html">Dropdown</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../file-uploader/file-uploader.html">File uploader</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../form/form.html">Form</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../interior-left-nav/interior-left-nav.html">Interior Left Nav</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../link/link.html">Link</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../list/list.html">List</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../loading/loading.html">Loading</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../modal/modal.html">Modal</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../notification/notification.html">Notification</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../number-input/number-input.html">Number input</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../overflow-menu/overflow-menu.html">Overflow menu</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../pagination/pagination.html">Pagination</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../progress-indicator/progress-indicator.html">Progress indicator</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../radio-button/radio-button.html">Radio button</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../search/search.html">Search</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../select/select.html">Select</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../slider/slider.html">Slider</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../step-hint/step-hint.html">Step Hint</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../structured-list/structured-list.html">Structured list</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../tabs/tabs.html">Tabs</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../tag/tag.html">Tag</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../text-input/text-input.html">Text input</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../toggle/toggle.html">Toogle</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../tooltip/tooltip.html">Tooltip</a>
            </li>
          </ul>
        </li>
        <li class="navigation__listeItem">
          <a class="navigation__lien"
             href="#">Style</a>
          <ul class="navigation__liste">
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../../style/color/color.html">Color</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../../style/grid/grid.html">Grid</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../../style/iconography/iconography.html">Iconography</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../../style/typography.html">Typography</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </section>
  <main id="contenu" class="contenu">
    <section class="section entete">
      <h1 class="entete__titre">Forms</h1>
      <nav class="entete__navPage">
        <ul class="entete__navPageListe">
          <li class="entete__navPageListeItem">
            <a class="entete__navPageLien"
               href="#composante">Form</a>
          </li>
          <li class="entete__navPageListeItem">
            <a class="entete__navPageLien"
               href="#composante--headings1">Form double
            </a>
          </li>
        </ul>
      </nav>
    </section>
    <section id="composante"
             class="section conteneur">
      <h2 class="section__titreH2">Form</h2>
      <section class="section composante">
        <h2 class="screen-reader-only">Form</h2>

        <div class="sdt-form-item">
          <label for="text1" class="sdt-label">Text Input label</label>
          <input id="text1" type="text" class="sdt-text-input" placeholder="Placeholder text" />
          <div class="sdt-form-requirement">
            Username is taken.
          </div>
        </div>
        <div class="sdt-form-item">
          <label for="text-area-2" class="sdt-label">Text area label</label>
          <textarea id="text-area-2" class="sdt-text-area" rows="4" cols="50" placeholder="Placeholder text"></textarea>
          <div class="sdt-form-requirement">
            Please do not leave blank.
          </div>
        </div>
        <div class="sdt-form-item">
          <label for="select-id-form" class="sdt-label">Select label</label>
          <div class="sdt-select">
            <select id="select-id-form" class="sdt-select-input">
              <option class="sdt-select-option" disabled selected hidden>Choose an option</option>
              <option class="sdt-select-option" value="solong">A much longer option that is worth having around to check how text flows</option>
              <optgroup class="sdt-select-optgroup" label="Category 1">
                <option class="sdt-select-option" value="option1">Option 1</option>
                <option class="sdt-select-option" value="option2">Option 2</option>
              </optgroup>
              <optgroup class="sdt-select-optgroup" label="Category 2">
                <option class="sdt-select-option" value="option1">Option 1</option>
                <option class="sdt-select-option" value="option2">Option 2</option>
              </optgroup>
            </select>
            <div class="sdt-form-requirement">
              Please choose an option.
            </div>
            <svg class="sdt-select__arrow" width="10" height="5" viewBox="0 0 10 5" fill-rule="evenodd">
              <path d="M10 0L5 5 0 0z"></path>
            </svg>
          </div>
        </div>
        <div class="sdt-form-item">
          <button class="sdt-btn sdt-btn--primary" type="button">Submit</button>
        </div>

      </section>

      <section id="code"
               class="section code">
        <h2 class="screen-reader-only">Code HTML</h2>
        <pre class="code-exemple">
                <code>
&lt;div class="sdt-form-item">
  &lt;label for="text1" class="sdt-label">Text Input label&lt;/label>
  &lt;input id="text1" type="text" class="sdt-text-input" placeholder="Placeholder text" />
  &lt;div class="sdt-form-requirement">
    Username is taken.
  &lt;/div>
&lt;/div>
&lt;div class="sdt-form-item">
  &lt;label for="text-area-2" class="sdt-label">Text area label&lt;/label>
  &lt;textarea id="text-area-2" class="sdt-text-area" rows="4" cols="50" placeholder="Placeholder text">&lt;/textarea>
  &lt;div class="sdt-form-requirement">
    Please do not leave blank.
  &lt;/div>
&lt;/div>
&lt;div class="sdt-form-item">
  &lt;label for="select-id-form" class="sdt-label">Select label&lt;/label>
  &lt;div class="sdt-select">
    &lt;select id="select-id-form" class="sdt-select-input">
      &lt;option class="sdt-select-option" disabled selected hidden>Choose an option&lt;/option>
      &lt;option class="sdt-select-option" value="solong">A much longer option that is worth having around to check how text flows&lt;/option>
      &lt;optgroup class="sdt-select-optgroup" label="Category 1">
        &lt;option class="sdt-select-option" value="option1">Option 1&lt;/option>
        &lt;option class="sdt-select-option" value="option2">Option 2&lt;/option>
      &lt;/optgroup>
      &lt;optgroup class="sdt-select-optgroup" label="Category 2">
        &lt;option class="sdt-select-option" value="option1">Option 1&lt;/option>
        &lt;option class="sdt-select-option" value="option2">Option 2&lt;/option>
      &lt;/optgroup>
    &lt;/select>
    &lt;div class="sdt-form-requirement">
      Please choose an option.
    &lt;/div>
    &lt;svg class="sdt-select__arrow" width="10" height="5" viewBox="0 0 10 5" fill-rule="evenodd">
      &lt;path d="M10 0L5 5 0 0z">&lt;/path>
    &lt;/svg>
  &lt;/div>
&lt;/div>
&lt;div class="sdt-form-item">
  &lt;button class="sdt-btn sdt-btn--primary" type="button">Submit&lt;/button>
&lt;/div>
                </code>
            </pre>
      </section>
    </section>
    <section id="composante--headings1"
             class="section conteneur">
      <h2 class="section__titreH2">Form double</h2>
      <section class="section composante">
        <h2 class="screen-reader-only">Composante</h2>
        <!--                Code of component-->


        <div class="sdt-grid">
          <div class="sdt-row">
            <div class="sdt-col-xs-12">
              <p class="sdt-form-heading">Double column form title</p>
            </div>
          </div>

          <div class="sdt-row">
            <div class="sdt-col-xs-6">
              <div class="sdt-form-item">
                <label for="text1" class="sdt-label">Text Input label</label>
                <input id="text1" type="text" class="sdt-text-input" placeholder="Placeholder text" />
                <div class="sdt-form-requirement">
                  Username is taken.
                </div>
              </div>
            </div>

            <div class="sdt-col-xs-6">
              <div class="sdt-form-item">
                <label for="text1" class="sdt-label">Text Input label</label>
                <input id="text1" type="text" class="sdt-text-input" placeholder="Placeholder text" />
                <div class="sdt-form-requirement">
                  Please do not leave blank.
                </div>
              </div>
            </div>
          </div>

          <div class="sdt-row">
            <div class="sdt-col-xs-6">
              <div class="sdt-form-item">
                <label for="select-id-form" class="sdt-label">Select label</label>
                <div class="sdt-select">
                  <select id="select-id-form" class="sdt-select-input">
                    <option class="sdt-select-option" disabled selected hidden>Choose an option</option>
                    <option class="sdt-select-option" value="solong">A much longer option that is worth having around to check how text flows</option>
                    <optgroup class="sdt-select-optgroup" label="Category 1">
                      <option class="sdt-select-option" value="option1">Option 1</option>
                      <option class="sdt-select-option" value="option2">Option 2</option>
                    </optgroup>
                    <optgroup class="sdt-select-optgroup" label="Category 2">
                      <option class="sdt-select-option" value="option1">Option 1</option>
                      <option class="sdt-select-option" value="option2">Option 2</option>
                    </optgroup>
                  </select>
                  <div class="sdt-form-requirement">
                    Please choose an option.
                  </div>
                  <svg class="sdt-select__arrow" width="10" height="5" viewBox="0 0 10 5" fill-rule="evenodd">
                    <path d="M10 0L5 5 0 0z"></path>
                  </svg>
                </div>
              </div>
            </div>

            <div class="sdt-col-xs-6">
              <div class="sdt-form-item">
                <label for="select-id-form" class="sdt-label">Number Input label</label>
                <div data-numberinput class="sdt-number">
                  <input id="number-input" type="number" min="0" max="100" value="1">
                  <div class="sdt-number__controls">
                    <button class="sdt-number__control-btn up-icon">
                      <svg viewBox="0 2 10 5" width="10" height="5" fill-rule="evenodd">
                        <path d="M10 5L5 0 0 5z"></path>
                      </svg>
                    </button>
                    <button class="sdt-number__control-btn down-icon">
                      <svg viewBox="0 2 10 5" width="10" height="5" fill-rule="evenodd">
                        <path d="M10 0L5 5 0 0z"></path>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="sdt-row">
            <div class="sdt-col-xs-12">
              <div class="sdt-form-item">
                <label for="text-area-2" class="sdt-label">Text area label</label>
                <textarea id="text-area-2" class="sdt-text-area" rows="4" cols="50" placeholder="Placeholder text"></textarea>
              </div>
            </div>
          </div>

          <div class="sdt-row">
            <div class="sdt-col-xs-6">
              <fieldset class="sdt-fieldset">
                <legend class="sdt-label">Checkbox heading</legend>
                <div class="sdt-form-item">
                  <div class="sdt-form-item sdt-checkbox-wrapper sdt-radio-button-item">
                    <input id="sdt-checkbox-1" class="sdt-checkbox" type="checkbox" value="new" name="checkbox" checked>
                    <label for="sdt-checkbox-1" class="sdt-checkbox-label">Checkbox label 1</label>
                  </div>
                  <div class="sdt-form-item sdt-checkbox-wrapper sdt-radio-button-item">
                    <input id="sdt-checkbox-2" class="sdt-checkbox" type="checkbox" value="new" name="checkbox">
                    <label for="sdt-checkbox-2" class="sdt-checkbox-label">Checkbox label 2</label>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="sdt-col-xs-6">
              <fieldset class="sdt-fieldset">
                <legend class="sdt-label">Radio Button heading</legend>
                <div class="sdt-form-item">
                  <div class="sdt-radio-button-group vertical">
                    <div class="sdt-radio-button-item">
                      <input id="radio-button-vertical-1" class="sdt-radio-button" type="radio" value="red" name="radio-button" tabindex="0" checked>
                      <label for="radio-button-vertical-1" class="sdt-radio-button__label">
                        <span class="sdt-radio-button__appearance"></span>
                        Radio Button label 1
                      </label>
                    </div>
                    <div class="sdt-radio-button-item">
                      <input id="radio-button-vertical-2" class="sdt-radio-button" type="radio" value="green" name="radio-button" tabindex="0">
                      <label for="radio-button-vertical-2" class="sdt-radio-button__label">
                        <span class="sdt-radio-button__appearance"></span>
                        Radio Button label 2
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>

          <div class="sdt-row">
            <div class="sdt-col-xs-12">
              <fieldset class="sdt-fieldset">
                <legend class="sdt-label">Toggle heading</legend>
                <div class="sdt-form-item">
                  <input class="sdt-toggle" id="toggle2" type="checkbox">
                  <label class="sdt-toggle__label" for="toggle2">
                    <span class="sdt-toggle__text--left">Off</span>
                    <span class="sdt-toggle__appearance"></span>
                    <span class="sdt-toggle__text--right">On</span>
                  </label>
                </div>
              </fieldset>
            </div>
          </div>

          <div class="sdt-row">
            <div class="sdt-col-xs-12">
              <div class="sdt-form-item">
                <button class="sdt-btn sdt-btn--primary" type="button">Submit</button>
              </div>
            </div>
          </div>
        </div>



      </section>

      <section id="code--headings"
               class="section code">
        <h2 class="screen-reader-only">Code HTML</h2>
        <pre class="code-exemple">
                <code>
&lt;div class="sdt-grid">
  &lt;div class="sdt-row">
    &lt;div class="sdt-col-xs-12">
      &lt;p class="sdt-form-heading">Double column form title&lt;/p>
    &lt;/div>
  &lt;/div>

  &lt;div class="sdt-row">
      &lt;div class="sdt-col-xs-6">
          &lt;div class="sdt-form-item">
              &lt;label for="text1" class="sdt-label">Text Input label&lt;/label>
              &lt;input id="text1" type="text" class="sdt-text-input" placeholder="Placeholder text" />
              &lt;div class="sdt-form-requirement">
                Username is taken.
              &lt;/div>
          &lt;/div>
      &lt;/div>

      &lt;div class="sdt-col-xs-6">
          &lt;div class="sdt-form-item">
            &lt;label for="text1" class="sdt-label">Text Input label&lt;/label>
            &lt;input id="text1" type="text" class="sdt-text-input" placeholder="Placeholder text" />
            &lt;div class="sdt-form-requirement">
              Please do not leave blank.
            &lt;/div>
          &lt;/div>
      &lt;/div>
  &lt;/div>

  &lt;div class="sdt-row">
    &lt;div class="sdt-col-xs-6">
      &lt;div class="sdt-form-item">
        &lt;label for="select-id-form" class="sdt-label">Select label&lt;/label>
        &lt;div class="sdt-select">
          &lt;select id="select-id-form" class="sdt-select-input">
            &lt;option class="sdt-select-option" disabled selected hidden>Choose an option&lt;/option>
            &lt;option class="sdt-select-option" value="solong">A much longer option that is worth having around to check how text flows&lt;/option>
            &lt;optgroup class="sdt-select-optgroup" label="Category 1">
              &lt;option class="sdt-select-option" value="option1">Option 1&lt;/option>
              &lt;option class="sdt-select-option" value="option2">Option 2&lt;/option>
            &lt;/optgroup>
            &lt;optgroup class="sdt-select-optgroup" label="Category 2">
              &lt;option class="sdt-select-option" value="option1">Option 1&lt;/option>
              &lt;option class="sdt-select-option" value="option2">Option 2&lt;/option>
            &lt;/optgroup>
          &lt;/select>
          &lt;div class="sdt-form-requirement">
            Please choose an option.
          &lt;/div>
          &lt;svg class="sdt-select__arrow" width="10" height="5" viewBox="0 0 10 5" fill-rule="evenodd">
            &lt;path d="M10 0L5 5 0 0z">&lt;/path>
          &lt;/svg>
        &lt;/div>
      &lt;/div>
    &lt;/div>

    &lt;div class="sdt-col-xs-6">
      &lt;div class="sdt-form-item">
        &lt;label for="select-id-form" class="sdt-label">Number Input label&lt;/label>
        &lt;div data-numberinput class="sdt-number">
          &lt;input id="number-input" type="number" min="0" max="100" value="1">
          &lt;div class="sdt-number__controls">
            &lt;button class="sdt-number__control-btn up-icon">
              &lt;svg viewBox="0 2 10 5" width="10" height="5" fill-rule="evenodd">
                &lt;path d="M10 5L5 0 0 5z">&lt;/path>
              &lt;/svg>
            &lt;/button>
            &lt;button class="sdt-number__control-btn down-icon">
              &lt;svg viewBox="0 2 10 5" width="10" height="5" fill-rule="evenodd">
                &lt;path d="M10 0L5 5 0 0z">&lt;/path>
              &lt;/svg>
            &lt;/button>
          &lt;/div>
        &lt;/div>
      &lt;/div>
    &lt;/div>
  &lt;/div>

  &lt;div class="sdt-row">
    &lt;div class="sdt-col-xs-12">
      &lt;div class="sdt-form-item">
        &lt;label for="text-area-2" class="sdt-label">Text area label&lt;/label>
        &lt;textarea id="text-area-2" class="sdt-text-area" rows="4" cols="50" placeholder="Placeholder text">&lt;/textarea>
      &lt;/div>
    &lt;/div>
  &lt;/div>

  &lt;div class="sdt-row">
    &lt;div class="sdt-col-xs-6">
      &lt;fieldset class="sdt-fieldset">
        &lt;legend class="sdt-label">Checkbox heading&lt;/legend>
        &lt;div class="sdt-form-item">
          &lt;div class="sdt-form-item sdt-checkbox-wrapper sdt-radio-button-item">
          &lt;input id="sdt-checkbox-1" class="sdt-checkbox" type="checkbox" value="new" name="checkbox" checked>
          &lt;label for="sdt-checkbox-1" class="sdt-checkbox-label">Checkbox label 1&lt;/label>
          &lt;/div>
          &lt;div class="sdt-form-item sdt-checkbox-wrapper sdt-radio-button-item">
          &lt;input id="sdt-checkbox-2" class="sdt-checkbox" type="checkbox" value="new" name="checkbox">
          &lt;label for="sdt-checkbox-2" class="sdt-checkbox-label">Checkbox label 2&lt;/label>
          &lt;/div>
        &lt;/div>
      &lt;/fieldset>
    &lt;/div>

    &lt;div class="sdt-col-xs-6">
      &lt;fieldset class="sdt-fieldset">
        &lt;legend class="sdt-label">Radio Button heading&lt;/legend>
        &lt;div class="sdt-form-item">
          &lt;div class="sdt-radio-button-group vertical">
            &lt;div class="sdt-radio-button-item">
              &lt;input id="radio-button-vertical-1" class="sdt-radio-button" type="radio" value="red" name="radio-button" tabindex="0" checked>
              &lt;label for="radio-button-vertical-1" class="sdt-radio-button__label">
                &lt;span class="sdt-radio-button__appearance">&lt;/span>
                Radio Button label 1
              &lt;/label>
            &lt;/div>
            &lt;div class="sdt-radio-button-item">
              &lt;input id="radio-button-vertical-2" class="sdt-radio-button" type="radio" value="green" name="radio-button" tabindex="0">
              &lt;label for="radio-button-vertical-2" class="sdt-radio-button__label">
                &lt;span class="sdt-radio-button__appearance">&lt;/span>
                Radio Button label 2
              &lt;/label>
            &lt;/div>
          &lt;/div>
        &lt;/div>
      &lt;/fieldset>
    &lt;/div>
  &lt;/div>

  &lt;div class="sdt-row">
    &lt;div class="sdt-col-xs-12">
      &lt;fieldset class="sdt-fieldset">
        &lt;legend class="sdt-label">Toggle heading&lt;/legend>
        &lt;div class="sdt-form-item">
          &lt;input class="sdt-toggle" id="toggle2" type="checkbox">
          &lt;label class="sdt-toggle__label" for="toggle2">
          &lt;span class="sdt-toggle__text--left">Off&lt;/span>
          &lt;span class="sdt-toggle__appearance">&lt;/span>
          &lt;span class="sdt-toggle__text--right">On&lt;/span>
        &lt;/label>
        &lt;/div>
      &lt;/fieldset>
    &lt;/div>
  &lt;/div>

  &lt;div class="sdt-row">
    &lt;div class="sdt-col-xs-12">
      &lt;div class="sdt-form-item">
        &lt;button class="sdt-btn sdt-btn--primary" type="button">Submit&lt;/button>
      &lt;/div>
    &lt;/div>
  &lt;/div>
&lt;/div>


                </code>
            </pre>
      </section>
    </section>
  </main>
</div>
<footer class="piv__pieddepage">
  <img src="../../liaisons/images/logo-saaq.svg" width="200" alt="">
  <p class="piv__credits">© Gouvernement du Québec, 2023</p>
</footer>
</body>
</html>





