<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <link href="../../liaisons/css/styles.css"
        rel="stylesheet">
  <title>Interior Left Nav | Système de design transactionnel | SAAQ</title>
</head>
<body class="page">
<a href="#contenu" class="sauter-contenu screen-reader-only">Passer au contenu</a>
<header class="piv">
  <div class="piv__conteneur">
    <a href="../../index.html"
       target="_top"
       class="piv__logo">
      <img src="../../liaisons/images/logo-quebec.svg"
           alt="Gouvernement du Québec"
           width="160">
    </a>
    <nav class="piv__navigation">
      <ul>
        <li>
          <a href="../../index.html">Accueil</a>
        </li>
        <li>
          <a href="#">Nous joindre</a>
        </li>
      </ul>
    </nav>
    <a href="https://saaq.gouv.qc.ca/"
       class="piv__titre"
       target="_top">Société de l'assurance automobile du Québec</a>
  </div>
</header>
<div class="page__conteneur">
  <section class="barrelaterale">
    <nav class="navigation">
      <a href="../../index.html"
         class="barrelaterale__titreSite">Système de&nbsp;design transactionnel</a>
      <ul class="navigation__liste">
        <li class="navigation__listeItem">
          <a class="navigation__lien"
             href="#">Components</a>
          <ul class="navigation__liste">
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../accordion/accordion.html">Accordion</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../back-to-top/back-to-top.html">Back to top</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../breadcrumb/breadcrumb.html">Breadcrumb</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../button/button.html">Button</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../card/card.html">Card</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../checkbox/checkbox.html">Checkbox</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../content-switcher/content-switcher.html">Content switcher</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../data-table/data-table.html">Data table</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../date-picker/date-picker.html">Date picker</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../dropdown/dropdown.html">Dropdown</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../file-uploader/file-uploader.html">File uploader</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../form/form.html">Form</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../interior-left-nav/interior-left-nav.html">Interior Left Nav</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../link/link.html">Link</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../list/list.html">List</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../loading/loading.html">Loading</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../modal/modal.html">Modal</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../notification/notification.html">Notification</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../number-input/number-input.html">Number input</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../overflow-menu/overflow-menu.html">Overflow menu</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../pagination/pagination.html">Pagination</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../progress-indicator/progress-indicator.html">Progress indicator</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../radio-button/radio-button.html">Radio button</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../search/search.html">Search</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../select/select.html">Select</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../slider/slider.html">Slider</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../step-hint/step-hint.html">Step Hint</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../structured-list/structured-list.html">Structured list</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../tabs/tabs.html">Tabs</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../tag/tag.html">Tag</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../text-input/text-input.html">Text input</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../toggle/toggle.html">Toogle</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../tooltip/tooltip.html">Tooltip</a>
            </li>
          </ul>
        </li>
        <li class="navigation__listeItem">
          <a class="navigation__lien"
             href="#">Style</a>
          <ul class="navigation__liste">
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../../style/color/color.html">Color</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../../style/grid/grid.html">Grid</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../../style/iconography/iconography.html">Iconography</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../../style/typography.html">Typography</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </section>
  <main id="contenu" class="contenu">
    <section class="section entete">
      <h1 class="entete__titre">Interior Left Nav</h1>
      <nav class="entete__navPage">
        <ul class="entete__navPageListe">
          <li class="entete__navPageListeItem">
            <a class="entete__navPageLien"
               href="#composante">Interior Left Nav</a>
          </li>
          <li class="entete__navPageListeItem">
            <a class="entete__navPageLien"
               href="#composante--headings1">Interior Left Nav Filter
            </a>
          </li>
          <li class="entete__navPageListeItem">
            <a class="entete__navPageLien"
               href="#composante--headings2">Interior Left Nav Keep Open
            </a>
          </li>
        </ul>
      </nav>
    </section>
    <section id="composante"
             class="section conteneur">
      <h2 class="section__titreH2">Interior Left Nav</h2>
      <section class="section composante">
        <h2 class="screen-reader-only">Interior Left Nav</h2>

        <nav role="navigation" aria-label="Interior Left Navigation" data-interior-left-nav class="sdt-interior-left-nav sdt-interior-left-nav--collapseable">
          <ul role="menubar" class="left-nav-list" data-interior-left-nav-list aria-label="left nav list" aria-hidden="false">
            <li role="menuitem" tabindex="0" class="left-nav-list__item" data-interior-left-nav-item>
              <a class="left-nav-list__item-link">
                Example Item 1
              </a>
            </li>
            <li role="menuitem" tabindex="0" class="left-nav-list__item" data-interior-left-nav-item>
              <a class="left-nav-list__item-link">
                Example Item 2
              </a>
            </li>
            <li role="menuitem" tabindex="0" class="left-nav-list__item left-nav-list__item--has-children" data-interior-left-nav-item
                data-interior-left-nav-with-children>
              <a class="left-nav-list__item-link" href="./#">
                Example Item 3
                <div class="left-nav-list__item-icon">
                  <svg class="sdt-interior-left-nav__icon" width="12" height="8" viewBox="0 0 12 8" fill-rule="evenodd">
                    <path d="M10.6 0L6 4.7 1.4 0 0 1.4l6 6.1 6-6.1z"></path>
                  </svg>
                </div>
              </a>
              <ul role="menu" aria-hidden="true" aria-label="nested left nav list" class="left-nav-list left-nav-list--nested" data-interior-left-nav-nested-list>
                <li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-1A" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 1A</a>
                </li>
                <li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-1B" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 1B</a>
                </li>
                <li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-1C" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 1C</a>
                </li>
                <li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-1D" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 1D</a>
                </li>
              </ul>
            </li>
            <li role="menuitem" tabindex="0" class="left-nav-list__item left-nav-list__item--has-children" data-interior-left-nav-item
                data-interior-left-nav-with-children>
              <a class="left-nav-list__item-link">
                Example Item 4
                <div class="left-nav-list__item-icon">
                  <svg class="sdt-interior-left-nav__icon" width="12" height="8" viewBox="0 0 12 8" fill-rule="evenodd">
                    <path d="M10.6 0L6 4.7 1.4 0 0 1.4l6 6.1 6-6.1z"></path>
                  </svg>
                </div>
              </a>
              <ul role="menu" aria-hidden="true" class="left-nav-list left-nav-list--nested" aria-label="nested left nav list" data-interior-left-nav-nested-list>
                <li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-2A" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 2A</a>
                </li>
                <li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-2B" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 2B</a>
                </li>
                <li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-2C" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 2C</a>
                </li>
                <li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-2D" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 2D</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>

      </section>

      <section id="code"
               class="section code">
        <h2 class="screen-reader-only">Code HTML</h2>
        <pre class="code-exemple">
                <code>
&lt;nav role="navigation" aria-label="Interior Left Navigation" data-interior-left-nav class="sdt-interior-left-nav sdt-interior-left-nav--collapseable">
  &lt;ul role="menubar" class="left-nav-list" data-interior-left-nav-list aria-label="left nav list" aria-hidden="false">
    &lt;li role="menuitem" tabindex="0" class="left-nav-list__item" data-interior-left-nav-item>
      &lt;a class="left-nav-list__item-link">
        Example Item 1
      &lt;/a>
    &lt;/li>
    &lt;li role="menuitem" tabindex="0" class="left-nav-list__item" data-interior-left-nav-item>
      &lt;a class="left-nav-list__item-link">
          Example Item 2
      &lt;/a>
    &lt;/li>
    &lt;li role="menuitem" tabindex="0" class="left-nav-list__item left-nav-list__item--has-children" data-interior-left-nav-item
    data-interior-left-nav-with-children>
      &lt;a class="left-nav-list__item-link" href="./#">
        Example Item 3
        &lt;div class="left-nav-list__item-icon">
          &lt;svg class="sdt-interior-left-nav__icon" width="12" height="8" viewBox="0 0 12 8" fill-rule="evenodd">
            &lt;path d="M10.6 0L6 4.7 1.4 0 0 1.4l6 6.1 6-6.1z">&lt;/path>
          &lt;/svg>
        &lt;/div>
      &lt;/a>
      &lt;ul role="menu" aria-hidden="true" aria-label="nested left nav list" class="left-nav-list left-nav-list--nested" data-interior-left-nav-nested-list>
        &lt;li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
          &lt;a href="#example-item-1A" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 1A&lt;/a>
        &lt;/li>
        &lt;li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
          &lt;a href="#example-item-1B" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 1B&lt;/a>
        &lt;/li>
        &lt;li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
          &lt;a href="#example-item-1C" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 1C&lt;/a>
        &lt;/li>
        &lt;li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
          &lt;a href="#example-item-1D" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 1D&lt;/a>
        &lt;/li>
      &lt;/ul>
    &lt;/li>
    &lt;li role="menuitem" tabindex="0" class="left-nav-list__item left-nav-list__item--has-children" data-interior-left-nav-item
    data-interior-left-nav-with-children>
      &lt;a class="left-nav-list__item-link">
        Example Item 4
        &lt;div class="left-nav-list__item-icon">
          &lt;svg class="sdt-interior-left-nav__icon" width="12" height="8" viewBox="0 0 12 8" fill-rule="evenodd">
            &lt;path d="M10.6 0L6 4.7 1.4 0 0 1.4l6 6.1 6-6.1z">&lt;/path>
          &lt;/svg>
        &lt;/div>
       &lt;/a>
       &lt;ul role="menu" aria-hidden="true" class="left-nav-list left-nav-list--nested" aria-label="nested left nav list" data-interior-left-nav-nested-list>
        &lt;li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
          &lt;a href="#example-item-2A" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 2A&lt;/a>
        &lt;/li>
        &lt;li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
          &lt;a href="#example-item-2B" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 2B&lt;/a>
        &lt;/li>
        &lt;li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
          &lt;a href="#example-item-2C" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 2C&lt;/a>
        &lt;/li>
        &lt;li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
          &lt;a href="#example-item-2D" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 2D&lt;/a>
        &lt;/li>
      &lt;/ul>
    &lt;/li>
  &lt;/ul>
&lt;/nav>
                </code>
            </pre>
      </section>
    </section>
    <section id="composante--headings1"
             class="section conteneur">
      <h2 class="section__titreH2">Interior Left Nav Filter</h2>
      <section class="section composante">
        <h2 class="screen-reader-only">Composante</h2>
        <!--                Code of component-->
        <nav role="navigation" aria-label="Interior Left Navigation" data-interior-left-nav class="sdt-interior-left-nav sdt-interior-left-nav--collapseable">
          <ul role="menubar" class="left-nav-list" data-interior-left-nav-list aria-label="left nav list" aria-hidden="false">
            <li role="menuitem" tabindex="0" class="left-nav-list__item" data-interior-left-nav-item>
              <a class="left-nav-list__item-link">
                Example Item 1
              </a>
            </li>
            <li role="menuitem" tabindex="0" class="left-nav-list__item" data-interior-left-nav-item>
              <a class="left-nav-list__item-link">
                Example Item 2
              </a>
            </li>
            <li role="menuitem" tabindex="0" class="left-nav-list__item left-nav-list__item--has-children" data-interior-left-nav-item
                data-interior-left-nav-with-children>
              <a class="left-nav-list__item-link">
                Example Item 3
                <div class="left-nav-list__item-icon">
                  <svg class="sdt-interior-left-nav__icon" width="12" height="8" viewBox="0 0 12 8" fill-rule="evenodd">
                    <path d="M10.6 0L6 4.7 1.4 0 0 1.4l6 6.1 6-6.1z"></path>
                  </svg>
                </div>
              </a>
              <ul role="menu" aria-hidden="true" aria-label="nested left nav list" class="left-nav-list left-nav-list--nested" data-interior-left-nav-nested-list>
                <li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-1A" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 1A</a>
                </li>
                <li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-1B" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 1B</a>
                </li>
                <li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-1C" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 1C</a>
                </li>
                <li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-1D" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 1D</a>
                </li>
              </ul>
            </li>
            <li role="menuitem" tabindex="0" class="left-nav-list__item left-nav-list__item--has-children" data-interior-left-nav-item
                data-interior-left-nav-with-children>
              <a class="left-nav-list__item-link">
                Example Item 4
                <div class="left-nav-list__item-icon">
                  <svg class="sdt-interior-left-nav__icon" width="12" height="8" viewBox="0 0 12 8" fill-rule="evenodd">
                    <path d="M10.6 0L6 4.7 1.4 0 0 1.4l6 6.1 6-6.1z"></path>
                  </svg>
                </div>
              </a>
              <ul role="menu" aria-hidden="true" class="left-nav-list left-nav-list--nested" aria-label="nested left nav list" data-interior-left-nav-nested-list>
                <li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-2A" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 2A</a>
                </li>
                <li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-2B" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 2B</a>
                </li>
                <li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-2C" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 2C</a>
                </li>
                <li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-2D" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 2D</a>
                </li>
              </ul>
            </li>
          </ul>

          <div class="sdt-interior-left-nav-collapse" data-interior-left-nav-collapse>
            <a class="sdt-interior-left-nav-collapse__link" href="#" aria-label="collapse nav pane">
              <svg class="sdt-interior-left-nav-collapse__arrow" width="8" height="12" viewBox="0 0 8 12" fill-rule="evenodd" data-interior-left-nav-arrow>
                <title>Collapse nav pane</title>
                <path d="M7.5 10.6L2.8 6l4.7-4.6L6.1 0 0 6l6.1 6z"></path>
              </svg>
            </a>
          </div>
        </nav>

      </section>

      <section id="code--headings"
               class="section code">
        <h2 class="screen-reader-only">Code HTML</h2>
        <pre class="code-exemple">
                <code>
&lt;nav role="navigation" aria-label="Interior Left Navigation" data-interior-left-nav class="sdt-interior-left-nav sdt-interior-left-nav--collapseable">
    &lt;ul role="menubar" class="left-nav-list" data-interior-left-nav-list aria-label="left nav list" aria-hidden="false">
      &lt;li role="menuitem" tabindex="0" class="left-nav-list__item" data-interior-left-nav-item>
        &lt;a class="left-nav-list__item-link">
          Example Item 1
        &lt;/a>
      &lt;/li>
      &lt;li role="menuitem" tabindex="0" class="left-nav-list__item" data-interior-left-nav-item>
        &lt;a class="left-nav-list__item-link">
          Example Item 2
        &lt;/a>
      &lt;/li>
      &lt;li role="menuitem" tabindex="0" class="left-nav-list__item left-nav-list__item--has-children" data-interior-left-nav-item
          data-interior-left-nav-with-children>
        &lt;a class="left-nav-list__item-link">
          Example Item 3
          &lt;div class="left-nav-list__item-icon">
            &lt;svg class="sdt-interior-left-nav__icon" width="12" height="8" viewBox="0 0 12 8" fill-rule="evenodd">
              &lt;path d="M10.6 0L6 4.7 1.4 0 0 1.4l6 6.1 6-6.1z">&lt;/path>
            &lt;/svg>
          &lt;/div>
        &lt;/a>
        &lt;ul role="menu" aria-hidden="true" aria-label="nested left nav list" class="left-nav-list left-nav-list--nested"
                  data-interior-left-nav-nested-list>
          &lt;li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
            &lt;a href="#example-item-1A" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 1A&lt;/a>
          &lt;/li>
          &lt;li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
            &lt;a href="#example-item-1B" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 1B&lt;/a>
          &lt;/li>
          &lt;li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
            &lt;a href="#example-item-1C" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 1C&lt;/a>
          &lt;/li>
          &lt;li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
            &lt;a href="#example-item-1D" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 1D&lt;/a>
          &lt;/li>
        &lt;/ul>
      &lt;/li>
      &lt;li role="menuitem" tabindex="0" class="left-nav-list__item left-nav-list__item--has-children" data-interior-left-nav-item
          data-interior-left-nav-with-children>
        &lt;a class="left-nav-list__item-link">
          Example Item 4
          &lt;div class="left-nav-list__item-icon">
            &lt;svg class="sdt-interior-left-nav__icon" width="12" height="8" viewBox="0 0 12 8" fill-rule="evenodd">
              &lt;path d="M10.6 0L6 4.7 1.4 0 0 1.4l6 6.1 6-6.1z">&lt;/path>
            &lt;/svg>
          &lt;/div>
        &lt;/a>
        &lt;ul role="menu" aria-hidden="true" class="left-nav-list left-nav-list--nested" aria-label="nested left nav list"
                  data-interior-left-nav-nested-list>
          &lt;li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
            &lt;a href="#example-item-2A" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 2A&lt;/a>
          &lt;/li>
          &lt;li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
            &lt;a href="#example-item-2B" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 2B&lt;/a>
          &lt;/li>
          &lt;li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
            &lt;a href="#example-item-2C" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 2C&lt;/a>
          &lt;/li>
          &lt;li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
            &lt;a href="#example-item-2D" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 2D&lt;/a>
          &lt;/li>
        &lt;/ul>
      &lt;/li>
    &lt;/ul>

    &lt;div class="sdt-interior-left-nav-collapse" data-interior-left-nav-collapse>
      &lt;a class="sdt-interior-left-nav-collapse__link" href="#" aria-label="collapse nav pane">
        &lt;svg class="sdt-interior-left-nav-collapse__arrow" width="8" height="12" viewBox="0 0 8 12" fill-rule="evenodd"
                  data-interior-left-nav-arrow>
          &lt;title>Collapse nav pane&lt;/title>
          &lt;path d="M7.5 10.6L2.8 6l4.7-4.6L6.1 0 0 6l6.1 6z">&lt;/path>
        &lt;/svg>
      &lt;/a>
    &lt;/div>
  &lt;/nav>
                </code>
            </pre>
      </section>
    </section>
    <section id="composante--headings2"
             class="section conteneur">
      <h2 class="section__titreH2">Interior Left Nav Keep Open</h2>
      <section class="section composante">
        <h2 class="screen-reader-only">Composante</h2>
        <!--                Code of component-->
        <nav role="navigation" aria-label="Interior Left Navigation Open" data-interior-left-nav class="sdt-interior-left-nav sdt-interior-left-nav--collapseable"
             data-keep-open="true">
          <ul role="menubar" aria-label="left nav list" class="left-nav-list" data-interior-left-nav-list aria-hidden="false">
            <li role="menuitem" tabindex="0" class="left-nav-list__item" data-interior-left-nav-item>
              <a class="left-nav-list__item-link">
                Example Item 1
              </a>
            </li>
            <li role="menuitem" tabindex="0" class="left-nav-list__item" data-interior-left-nav-item>
              <a class="left-nav-list__item-link">
                Example Item 2
              </a>
            </li>
            <li role="menuitem" tabindex="0" class="left-nav-list__item left-nav-list__item--has-children" data-interior-left-nav-item
                data-interior-left-nav-with-children>
              <a class="left-nav-list__item-link">
                Example Item 3
                <div class="left-nav-list__item-icon">
                  <svg class="sdt-interior-left-nav__icon" width="10" height="5" viewBox="0 0 10 5" fill-rule="evenodd">
                    <path d="M10 0L5 5 0 0z"></path>
                  </svg>
                </div>
              </a>
              <ul role="menu" aria-hidden="true" aria-label="nested left nav list" class="left-nav-list left-nav-list--nested" data-interior-left-nav-nested-list>
                <li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-1A" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 1A</a>
                </li>
                <li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-1B" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 1B</a>
                </li>
                <li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-1C" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 1C</a>
                </li>
                <li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-1D" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 1D</a>
                </li>
              </ul>
            </li>
            <li role="menuitem" tabindex="0" class="left-nav-list__item left-nav-list__item--has-children" data-interior-left-nav-item
                data-interior-left-nav-with-children>
              <a class="left-nav-list__item-link">
                Example Item 4
                <div class="left-nav-list__item-icon">
                  <svg class="sdt-interior-left-nav__icon" width="10" height="5" viewBox="0 0 10 5" fill-rule="evenodd">
                    <path d="M10 0L5 5 0 0z"></path>
                  </svg>
                </div>
              </a>
              <ul role="menu" aria-hidden="true" aria-label="nested left nav list" class="left-nav-list left-nav-list--nested" data-interior-left-nav-nested-list>
                <li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-2A" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 2A</a>
                </li>
                <li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-2B" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 2B</a>
                </li>
                <li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-2C" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 2C</a>
                </li>
                <li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-2D" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 2D</a>
                </li>
              </ul>
            </li>
          </ul>

          <div class="sdt-interior-left-nav-collapse" data-interior-left-nav-collapse>
            <a class="sdt-interior-left-nav-collapse__link" href="#" aria-label="collapse nav pane">
              <svg class="sdt-interior-left-nav-collapse__arrow" width="8" height="12" viewBox="0 0 8 12" fill-rule="evenodd" data-interior-left-nav-arrow>
                <title>Collapse nav pane</title>
                <path d="M7.5 10.6L2.8 6l4.7-4.6L6.1 0 0 6l6.1 6z"></path>
              </svg>
            </a>
          </div>
        </nav>


      </section>

      <section id="code--headings"
               class="section code">
        <h2 class="screen-reader-only">Code HTML</h2>
        <pre class="code-exemple">
                <code>
&lt;nav role="navigation" aria-label="Interior Left Navigation Open" data-interior-left-nav class="sdt-interior-left-nav sdt-interior-left-nav--collapseable"
     data-keep-open="true">
  &lt;ul role="menubar" aria-label="left nav list" class="left-nav-list" data-interior-left-nav-list aria-hidden="false">
    &lt;li role="menuitem" tabindex="0" class="left-nav-list__item" data-interior-left-nav-item>
      &lt;a class="left-nav-list__item-link">
        Example Item 1
      &lt;/a>
    &lt;/li>
    &lt;li role="menuitem" tabindex="0" class="left-nav-list__item" data-interior-left-nav-item>
      &lt;a class="left-nav-list__item-link">
        Example Item 2
      &lt;/a>
    &lt;/li>
    &lt;li role="menuitem" tabindex="0" class="left-nav-list__item left-nav-list__item--has-children" data-interior-left-nav-item
        data-interior-left-nav-with-children>
      &lt;a class="left-nav-list__item-link">
        Example Item 3
        &lt;div class="left-nav-list__item-icon">
          &lt;svg class="sdt-interior-left-nav__icon" width="10" height="5" viewBox="0 0 10 5" fill-rule="evenodd">
            &lt;path d="M10 0L5 5 0 0z">&lt;/path>
          &lt;/svg>
        &lt;/div>
      &lt;/a>
      &lt;ul role="menu" aria-hidden="true" aria-label="nested left nav list" class="left-nav-list left-nav-list--nested" data-interior-left-nav-nested-list>
        &lt;li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
          &lt;a href="#example-item-1A" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 1A&lt;/a>
        &lt;/li>
        &lt;li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
          &lt;a href="#example-item-1B" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 1B&lt;/a>
        &lt;/li>
        &lt;li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
          &lt;a href="#example-item-1C" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 1C&lt;/a>
        &lt;/li>
        &lt;li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
          &lt;a href="#example-item-1D" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 1D&lt;/a>
        &lt;/li>
      &lt;/ul>
    &lt;/li>
    &lt;li role="menuitem" tabindex="0" class="left-nav-list__item left-nav-list__item--has-children" data-interior-left-nav-item
        data-interior-left-nav-with-children>
      &lt;a class="left-nav-list__item-link">
        Example Item 4
        &lt;div class="left-nav-list__item-icon">
          &lt;svg class="sdt-interior-left-nav__icon" width="10" height="5" viewBox="0 0 10 5" fill-rule="evenodd">
            &lt;path d="M10 0L5 5 0 0z">&lt;/path>
          &lt;/svg>
        &lt;/div>
      &lt;/a>
      &lt;ul role="menu" aria-hidden="true" aria-label="nested left nav list" class="left-nav-list left-nav-list--nested" data-interior-left-nav-nested-list>
        &lt;li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
          &lt;a href="#example-item-2A" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 2A&lt;/a>
        &lt;/li>
        &lt;li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
          &lt;a href="#example-item-2B" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 2B&lt;/a>
        &lt;/li>
        &lt;li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
          &lt;a href="#example-item-2C" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 2C&lt;/a>
        &lt;/li>
        &lt;li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
          &lt;a href="#example-item-2D" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 2D&lt;/a>
        &lt;/li>
      &lt;/ul>
    &lt;/li>
  &lt;/ul>

  &lt;div class="sdt-interior-left-nav-collapse" data-interior-left-nav-collapse>
    &lt;a class="sdt-interior-left-nav-collapse__link" href="#" aria-label="collapse nav pane">
      &lt;svg class="sdt-interior-left-nav-collapse__arrow" width="8" height="12" viewBox="0 0 8 12" fill-rule="evenodd" data-interior-left-nav-arrow>
        &lt;title>Collapse nav pane&lt;/title>
        &lt;path d="M7.5 10.6L2.8 6l4.7-4.6L6.1 0 0 6l6.1 6z">&lt;/path>
      &lt;/svg>
    &lt;/a>
  &lt;/div>
&lt;/nav>

                </code>
            </pre>
      </section>
    </section>
    <section>
    </section>
  </main>
</div>
<footer class="piv__pieddepage">
  <img src="../../liaisons/images/logo-saaq.svg" width="200" alt="">
  <p class="piv__credits">© Gouvernement du Québec, 2023</p>
</footer>
</body>
<script src="interior-left-nav.js"
        type="text/javascript"></script>
</html>
