<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../liaisons/css/styles.css" rel="stylesheet">
    <title>Search | Système de design transactionnel | SAAQ</title>
</head>
<body class="page">
<a href="#contenu" class="sauter-contenu screen-reader-only">Passer au contenu</a>
<header class="piv">
    <div class="piv__conteneur">
        <a href="../../index.html"
           target="_top"
           class="piv__logo">
            <img src="../../liaisons/images/logo-quebec.svg"
                 alt="Gouvernement du Québec"
                 width="160">
        </a>
        <nav class="piv__navigation">
            <ul>
                <li>
                    <a href="../../index.html">Accueil</a>
                </li>
                <li>
                    <a href="#">Nous joindre</a>
                </li>
            </ul>
        </nav>
        <a href="https://saaq.gouv.qc.ca/"
           class="piv__titre"
           target="_top">Société de l'assurance automobile du Québec</a>
    </div>
</header>
<div class="page__conteneur">
    <section class="barrelaterale">
        <nav class="navigation">
            <a href="../../index.html"
               class="barrelaterale__titreSite">Système de&nbsp;design transactionnel</a>
            <ul class="navigation__liste">
                <li class="navigation__listeItem">
                    <a class="navigation__lien"
                       href="#">Components</a>
                    <ul class="navigation__liste">
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../accordion/accordion.html">Accordion</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../back-to-top/back-to-top.html">Back to top</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../breadcrumb/breadcrumb.html">Breadcrumb</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../button/button.html">Button</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../card/card.html">Card</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../checkbox/checkbox.html">Checkbox</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../content-switcher/content-switcher.html">Content switcher</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../data-table/data-table.html">Data table</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../date-picker/date-picker.html">Date picker</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../dropdown/dropdown.html">Dropdown</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../file-uploader/file-uploader.html">File uploader</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../form/form.html">Form</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../interior-left-nav/interior-left-nav.html">Interior Left Nav</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../link/link.html">Link</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../list/list.html">List</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../loading/loading.html">Loading</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../modal/modal.html">Modal</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../notification/notification.html">Notification</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../number-input/number-input.html">Number input</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../overflow-menu/overflow-menu.html">Overflow menu</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../pagination/pagination.html">Pagination</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../progress-indicator/progress-indicator.html">Progress indicator</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../radio-button/radio-button.html">Radio button</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../search/search.html">Search</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../select/select.html">Select</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../slider/slider.html">Slider</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../step-hint/step-hint.html">Step Hint</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../structured-list/structured-list.html">Structured list</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../tabs/tabs.html">Tabs</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../tag/tag.html">Tag</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../text-input/text-input.html">Text input</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../toggle/toggle.html">Toogle</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../tooltip/tooltip.html">Tooltip</a>
                        </li>
                    </ul>
                </li>
                <li class="navigation__listeItem">
                    <a class="navigation__lien"
                       href="#">Style</a>
                    <ul class="navigation__liste">
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../../style/color/color.html">Color</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../../style/grid/grid.html">Grid</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../../style/iconography/iconography.html">Iconography</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../../style/typography.html">Typography</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </section>
    <main id="contenu" class="contenu">
        <section class="section entete">
            <h1 class="entete__titre">Search</h1>
            <nav class="entete__navPage">
                <ul class="entete__navPageListe">
                    <li class="entete__navPageListeItem">
                        <a class="entete__navPageLien" href="#composante">Search small</a>
                    </li>
                    <li class="entete__navPageListeItem">
                        <a class="entete__navPageLien" href="#composante--headings1">Search Large
                        </a>
                    </li>
                </ul>
            </nav>
        </section>
        <section id="composante" class="section conteneur">
            <h2 class="section__titreH2">Search small</h2>
            <section class="section composante">
                <h2 class="screen-reader-only">Search small</h2>

                <div data-search class="sdt-search sdt-search--sm" role="search">
                    <svg class="sdt-search-magnifier" width="16" height="16" viewBox="0 0 16 16"
                         fill-rule="evenodd">
                        <path
                                d="M6 2c2.2 0 4 1.8 4 4s-1.8 4-4 4-4-1.8-4-4 1.8-4 4-4zm0-2C2.7 0 0 2.7 0 6s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6zM16 13.8L13.8 16l-3.6-3.6 2.2-2.2z">
                        </path>
                        <path d="M16 13.8L13.8 16l-3.6-3.6 2.2-2.2z"></path>
                    </svg>
                    <label id="search-input-label-1" class="sdt-label" for="search__input-2">Search</label>
                    <input class="sdt-search-input" type="text" id="search__input-2" role="search"
                           placeholder="Search" aria-labelledby="search-input-label-1">
                    <svg class="sdt-search-close sdt-search-close--hidden" width="16" height="16"
                         viewBox="0 0 16 16" fill-rule="evenodd">
                        <path
                                d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm3.5 10.1l-1.4 1.4L8 9.4l-2.1 2.1-1.4-1.4L6.6 8 4.5 5.9l1.4-1.4L8 6.6l2.1-2.1 1.4 1.4L9.4 8l2.1 2.1z">
                        </path>
                    </svg>
                </div>


            </section>

            <section id="code" class="section code">
                <h2 class="screen-reader-only">Code HTML</h2>
                <pre class="code-exemple">
                <code>
&lt;div data-search class="sdt-search sdt-search--sm" role="search">
  &lt;svg class="sdt-search-magnifier" width="16" height="16" viewBox="0 0 16 16" fill-rule="evenodd">
    &lt;path d="M6 2c2.2 0 4 1.8 4 4s-1.8 4-4 4-4-1.8-4-4 1.8-4 4-4zm0-2C2.7 0 0 2.7 0
                    6s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6zM16 13.8L13.8 16l-3.6-3.6 2.2-2.2z">&lt;/path>
    &lt;path d="M16 13.8L13.8 16l-3.6-3.6 2.2-2.2z">&lt;/path>
  &lt;/svg>
  &lt;label id="search-input-label-1" class="sdt-label" for="search__input-2">Search&lt;/label>
  &lt;input class="sdt-search-input" type="text" id="search__input-2" role="search"
                    placeholder="Search" aria-labelledby="search-input-label-1">
  &lt;svg class="sdt-search-close sdt-search-close--hidden" width="16" height="16"
                    viewBox="0 0 16 16" fill-rule="evenodd">
    &lt;path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm3.5 10.1l-1.4 1.4L8
                    9.4l-2.1 2.1-1.4-1.4L6.6 8 4.5 5.9l1.4-1.4L8 6.6l2.1-2.1 1.4 1.4L9.4 8l2.1 2.1z">&lt;/path>
  &lt;/svg>
&lt;/div>

                </code>
            </pre>
            </section>
        </section>
        <section id="composante--headings1" class="section conteneur">
            <h2 class="section__titreH2">Search Large</h2>
            <section class="section composante">
                <h2 class="screen-reader-only">Composante</h2>
                <!--                Code of component-->

                <div data-search class="sdt-search sdt-search--lg" role="search">
                    <svg class="sdt-search-magnifier" width="16" height="16" viewBox="0 0 16 16"
                         fill-rule="evenodd">
                        <path
                                d="M6 2c2.2 0 4 1.8 4 4s-1.8 4-4 4-4-1.8-4-4 1.8-4 4-4zm0-2C2.7 0 0 2.7 0 6s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6zM16 13.8L13.8 16l-3.6-3.6 2.2-2.2z">
                        </path>
                        <path d="M16 13.8L13.8 16l-3.6-3.6 2.2-2.2z"></path>
                    </svg>
                    <label class="sdt-label" id="search-input-label-2" for="search__input-1">Search</label>
                    <input class="sdt-search-input" type="text" role="search" id="search__input-1"
                           placeholder="Search" aria-labelledby="search-input-label-2">
                    <svg class="sdt-search-close sdt-search-close--hidden" width="16" height="16"
                         viewBox="0 0 16 16" fill-rule="evenodd">
                        <path
                                d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm3.5 10.1l-1.4 1.4L8 9.4l-2.1 2.1-1.4-1.4L6.6 8 4.5 5.9l1.4-1.4L8 6.6l2.1-2.1 1.4 1.4L9.4 8l2.1 2.1z">
                        </path>
                    </svg>
                    <button class="sdt-search-button" type="button" aria-label="Filter button">
                        <svg class="sdt-search-filter" width="16" height="16" viewBox="0 0 16 16"
                             fill-rule="evenodd">
                            <path
                                    d="M5 0C3.7 0 2.6.8 2.2 2H0v2h2.2C2.6 5.2 3.7 6 5 6c1.3 0 2.4-.8 2.8-2H16V2H7.8C7.4.8 6.3 0 5 0zm0 4c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1zM5 10c-1.3 0-2.4.8-2.8 2H0v2h2.2c.4 1.2 1.5 2 2.8 2 1.3 0 2.4-.8 2.8-2H16v-2H7.8c-.4-1.2-1.5-2-2.8-2zm0 4c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1z">
                            </path>
                            <path
                                    d="M11 5c-1.3 0-2.4.8-2.8 2H0v2h8.2c.4 1.2 1.5 2 2.8 2 1.3 0 2.4-.8 2.8-2H16V7h-2.2c-.4-1.2-1.5-2-2.8-2zm0 4c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1z">
                            </path>
                        </svg>
                    </button>
                    <button class="sdt-search-button" type="button" data-search-toggle
                            aria-label="Grid and list toggle button">
                        <div data-search-view="grid">
                            <svg class="sdt-search-view" width="16" height="16" viewBox="0 0 16 16"
                                 fill-rule="evenodd">
                                <path d="M0 0h7v7H0zM9 0h7v7H9zM0 9h7v7H0zM9 9h7v7H9z"></path>
                            </svg>
                        </div>
                        <div class="sdt-search-view--hidden" data-search-view="list">
                            <svg class="sdt-search-view" width="16" height="14" viewBox="0 0 16 14"
                                 fill-rule="evenodd">
                                <path d="M0 0h16v2H0zM0 4h16v2H0zM0 8h16v2H0zM0 12h16v2H0z"></path>
                            </svg>
                        </div>
                    </button>
                </div>


            </section>

            <section id="code--headings" class="section code">
                <h2 class="screen-reader-only">Code HTML</h2>
                <pre class="code-exemple">
                <code>
&lt;div data-search class="sdt-search sdt-search--lg" role="search">
  &lt;svg class="sdt-search-magnifier" width="16" height="16" viewBox="0 0 16 16" fill-rule="evenodd">
    &lt;path d="M6 2c2.2 0 4 1.8 4 4s-1.8 4-4 4-4-1.8-4-4 1.8-4 4-4zm0-2C2.7
                    0 0 2.7 0 6s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6zM16 13.8L13.8 16l-3.6-3.6 2.2-2.2z">&lt;/path>
    &lt;path d="M16 13.8L13.8 16l-3.6-3.6 2.2-2.2z">&lt;/path>
  &lt;/svg>
  &lt;label class="sdt-label" id="search-input-label-2" for="search__input-1">Search&lt;/label>
  &lt;input class="sdt-search-input" type="text" role="search" id="search__input-1" placeholder="Search"
                    aria-labelledby="search-input-label-2">
  &lt;svg class="sdt-search-close sdt-search-close--hidden" width="16" height="16" viewBox="0 0 16 16" fill-rule="evenodd">
    &lt;path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm3.5 10.1l-1.4 1.4L8
                    9.4l-2.1 2.1-1.4-1.4L6.6 8 4.5 5.9l1.4-1.4L8 6.6l2.1-2.1 1.4 1.4L9.4 8l2.1 2.1z">&lt;/path>
  &lt;/svg>
  &lt;button class="sdt-search-button" type="button" aria-label="Filter button">
    &lt;svg class="sdt-search-filter" width="16" height="16" viewBox="0 0 16 16" fill-rule="evenodd">
      &lt;path d="M5 0C3.7 0 2.6.8 2.2 2H0v2h2.2C2.6 5.2 3.7 6 5 6c1.3 0 2.4-.8 2.8-2H16V2H7.8C7.4.8
                    6.3 0 5 0zm0 4c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1zM5 10c-1.3 0-2.4.8-2.8
                    2H0v2h2.2c.4 1.2 1.5 2 2.8 2 1.3 0 2.4-.8 2.8-2H16v-2H7.8c-.4-1.2-1.5-2-2.8-2zm0
                    4c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1z">&lt;/path>
      &lt;path d="M11 5c-1.3 0-2.4.8-2.8 2H0v2h8.2c.4 1.2 1.5 2 2.8 2 1.3 0 2.4-.8
                    2.8-2H16V7h-2.2c-.4-1.2-1.5-2-2.8-2zm0 4c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1z">&lt;/path>
    &lt;/svg>
  &lt;/button>
  &lt;button class="sdt-search-button" type="button" data-search-toggle aria-label="Grid and list toggle button">
    &lt;div data-search-view="grid">
      &lt;svg class="sdt-search-view" width="16" height="16" viewBox="0 0 16 16" fill-rule="evenodd">
        &lt;path d="M0 0h7v7H0zM9 0h7v7H9zM0 9h7v7H0zM9 9h7v7H9z">&lt;/path>
      &lt;/svg>
    &lt;/div>
    &lt;div class="sdt-search-view--hidden" data-search-view="list">
      &lt;svg class="sdt-search-view" width="16" height="14" viewBox="0 0 16 14" fill-rule="evenodd">
        &lt;path d="M0 0h16v2H0zM0 4h16v2H0zM0 8h16v2H0zM0 12h16v2H0z">&lt;/path>
      &lt;/svg>
    &lt;/div>
  &lt;/button>
&lt;/div>

                </code>
            </pre>
            </section>
        </section>
    </main>
</div>
<footer class="piv__pieddepage">
    <img src="../../liaisons/images/logo-saaq.svg" width="200" alt="">
    <p class="piv__credits">© Gouvernement du Québec, 2023</p>
</footer>
</body>
</html>
