<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <link href="../../liaisons/css/styles.css"
          rel="stylesheet">
    <script src="accordion.js" defer></script>
    <title>Accordion | Système de design transactionnel | SAAQ</title>
</head>
<body class="page">
<a href="#contenu" class="sauter-contenu screen-reader-only">Passer au contenu</a>
<header class="piv">
    <div class="piv__conteneur">
        <a href="../../index.html"
           target="_top"
           class="piv__logo">
            <img src="../../liaisons/images/logo-quebec.svg"
                 alt="Gouvernement du Québec"
                 width="160">
        </a>
        <nav class="piv__navigation">
            <ul>
                <li>
                    <a href="../../index.html">Accueil</a>
                </li>
                <li>
                    <a href="#">Nous joindre</a>
                </li>
            </ul>
        </nav>
        <a href="https://saaq.gouv.qc.ca/"
           class="piv__titre"
           target="_top">Société de l'assurance automobile du Québec</a>
    </div>
</header>
<div class="page__conteneur">
    <section class="barrelaterale">
        <nav class="navigation">
            <a href="../../index.html"
               class="barrelaterale__titreSite">Système de&nbsp;design transactionnel</a>
            <ul class="navigation__liste">
                <li class="navigation__listeItem">
                    <a class="navigation__lien"
                       href="#">Components</a>
                    <ul class="navigation__liste">
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../accordion/accordion.html">Accordion</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../back-to-top/back-to-top.html">Back to top</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../breadcrumb/breadcrumb.html">Breadcrumb</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../button/button.html">Button</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../card/card.html">Card</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../checkbox/checkbox.html">Checkbox</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../content-switcher/content-switcher.html">Content switcher</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../data-table/data-table.html">Data table</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../date-picker/date-picker.html">Date picker</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../dropdown/dropdown.html">Dropdown</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../file-uploader/file-uploader.html">File uploader</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../form/form.html">Form</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../interior-left-nav/interior-left-nav.html">Interior Left Nav</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../link/link.html">Link</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../list/list.html">List</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../loading/loading.html">Loading</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../modal/modal.html">Modal</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../notification/notification.html">Notification</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../number-input/number-input.html">Number input</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../overflow-menu/overflow-menu.html">Overflow menu</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../pagination/pagination.html">Pagination</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../progress-indicator/progress-indicator.html">Progress indicator</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../radio-button/radio-button.html">Radio button</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../search/search.html">Search</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../select/select.html">Select</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../slider/slider.html">Slider</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../step-hint/step-hint.html">Step Hint</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../structured-list/structured-list.html">Structured list</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../tabs/tabs.html">Tabs</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../tag/tag.html">Tag</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../text-input/text-input.html">Text input</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../toggle/toggle.html">Toogle</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../tooltip/tooltip.html">Tooltip</a>
                        </li>
                    </ul>
                </li>
                <li class="navigation__listeItem">
                    <a class="navigation__lien"
                       href="#">Style</a>
                    <ul class="navigation__liste">
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../../style/color/color.html">Color</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../../style/grid/grid.html">Grid</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../../style/iconography/iconography.html">Iconography</a>
                        </li>
                        <li class="navigation__listeItem">
                            <a class="navigation__lien"
                               href="../../style/typography.html">Typography</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </section>
    <main id="contenu" class="contenu">
        <section class="section entete">
            <h1 class="entete__titre">Accordion</h1>
            <nav class="entete__navPage">
                <ul class="entete__navPageListe">
                    <li class="entete__navPageListeItem">
                        <a class="entete__navPageLien"
                           href="#composante">Accordion</a>
                    </li>
                    <li class="entete__navPageListeItem">
                        <a class="entete__navPageLien"
                           href="#composante--headings">Accordion with headers
                        </a>
                    </li>
                    <li class="entete__navPageListeItem">
                        <a class="entete__navPageLien"
                           href="#documentation">Documentation
                        </a>
                    </li>
                </ul>
            </nav>
        </section>
        <section id="composante"
                 class="section conteneur">
            <h2 class="section__titreH2">Accordion unique</h2>
            <section class="section composante">
                <h2 class="screen-reader-only">Composante</h2>
                <!-- Code of component -->
                <div class="sdt-accordion sdt-accordion--active">
                    <h3 class="sdt-accordion__title">
                        <button id="accordionWithUniqueId" class="sdt-accordion__button"
                                aria-expanded="false"
                                aria-controls="pane1" type="button">Accordion title</button>
                    </h3>
                    <div id="pane1" class="sdt-accordion__content" role="region" aria-labelledby="accordionWithUniqueId">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <!-- End of code component -->
            </section>
            <section id="code"
                     class="section code">
                <h2 class="screen-reader-only">Code HTML</h2>
                <pre class="code-exemple">
                <code>
&ltdiv class="sdt-accordion sdt-accordion--active">
    &lth3 class="sdt-accordion__title">
    &ltbutton id="accordionWithUniqueId" class="sdt-accordion__button"
            aria-expanded="false"
            aria-controls="pane1" type="button">Accordion title&lt/button>
    &lt/h3>
    &ltdiv id="pane1" class="sdt-accordion__content" role="region" aria-labelledby="accordionWithUniqueId">
        &ltp>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.&lt/p>
    &lt/div>
&lt/div>
                </code>
            </pre>
            </section>
        </section>
        <section id="composante--headings"
                 class="section conteneur">
            <h2 class="section__titreH2">Accordion multiple</h2>
            <section class="section composante">
                <h2 class="screen-reader-only">Composante</h2>
                <!-- Code of component -->
                <div class="sdt-accordion sdt-accordion--active">
                    <h3 class="sdt-accordion__title">
                        <button id="accordionWithUniqueId001" class="sdt-accordion__button"
                                aria-expanded="false"
                                aria-controls="paneWithUniqueId001" type="button">Accordion title</button>
                    </h3>
                    <div id="paneWithUniqueId001" class="sdt-accordion__content" role="region" aria-labelledby="accordionWithUniqueId001">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <div class="sdt-accordion sdt-accordion--active">
                    <h3 class="sdt-accordion__title">
                        <button id="accordionWithUniqueId002" class="sdt-accordion__button"
                                aria-expanded="false"
                                aria-controls="paneWithUniqueId002" type="button">Accordion title</button>
                    </h3>
                    <div id="paneWithUniqueId002" class="sdt-accordion__content" role="region" aria-labelledby="accordionWithUniqueId002">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <div class="sdt-accordion sdt-accordion--active">
                    <h3 class="sdt-accordion__title">
                        <button id="accordionWithUniqueId003" class="sdt-accordion__button"
                                aria-expanded="false"
                                aria-controls="paneWithUniqueId003" type="button">Accordion title</button>
                    </h3>
                    <div id="paneWithUniqueId003" class="sdt-accordion__content" role="region" aria-labelledby="accordionWithUniqueId003">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <div class="sdt-accordion sdt-accordion--active">
                    <h3 class="sdt-accordion__title">
                        <button id="accordionWithUniqueId004" class="sdt-accordion__button"
                                aria-expanded="false"
                                aria-controls="paneWithUniqueId004" type="button">Accordion title</button>
                    </h3>
                    <div id="paneWithUniqueId004" class="sdt-accordion__content" role="region" aria-labelledby="accordionWithUniqueId004">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <div class="sdt-accordion sdt-accordion--active">
                    <h3 class="sdt-accordion__title">
                        <button id="accordionWithUniqueId005" class="sdt-accordion__button"
                                aria-expanded="false"
                                aria-controls="paneWithUniqueId005" type="button">Accordion title</button>
                    </h3>
                    <div id="paneWithUniqueId005" class="sdt-accordion__content" role="region" aria-labelledby="accordionWithUniqueId005">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <!-- End of code component -->
            </section>

            <section id="code--headings"
                     class="section code">
                <h2 class="screen-reader-only">Code HTML</h2>
                <pre class="code-exemple">
                <code>
&lt;div class="sdt-accordion sdt-accordion--active">
   &lt;h3 class="sdt-accordion__title">
   &lt;button id="accordionWithUniqueId001" class="sdt-accordion__button"
            aria-expanded="false"
            aria-controls="paneWithUniqueId001" type="button">Accordion title</button>
   &lt;/h3>
    &lt;div id="paneWithUniqueId001" class="sdt-accordion__content" role="region" aria-labelledby="accordionWithUniqueId001">
        &lt;p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    &lt;/div>
&lt;/div>
&lt;div class="sdt-accordion sdt-accordion--active">
    &lt;h3 class="sdt-accordion__title">
        &lt;button id="accordionWithUniqueId002" class="sdt-accordion__button"
                 aria-expanded="false"
                 aria-controls="paneWithUniqueId002" type="button">Accordion title</button>
    &lt;/h3>
    &lt;div id="paneWithUniqueId002" class="sdt-accordion__content" role="region" aria-labelledby="accordionWithUniqueId002">
        &lt;p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    &lt;/div>
&lt;/div>
&lt;div class="sdt-accordion sdt-accordion--active">
    &lt;h3 class="sdt-accordion__title">
        &lt;button id="accordionWithUniqueId003" class="sdt-accordion__button"
                 aria-expanded="false"
                 aria-controls="paneWithUniqueId003" type="button">Accordion title</button>
    &lt;/h3>
    &lt;div id="paneWithUniqueId003" class="sdt-accordion__content" role="region" aria-labelledby="accordionWithUniqueId003">
        &lt;p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    &lt;/div>
&lt;/div>
&lt;div class="sdt-accordion sdt-accordion--active">
    &lt;h3 class="sdt-accordion__title">
        &lt;button id="accordionWithUniqueId004" class="sdt-accordion__button"
                 aria-expanded="false"
                 aria-controls="paneWithUniqueId004" type="button">Accordion title</button>
    &lt;/h3>
    &lt;div id="paneWithUniqueId004" class="sdt-accordion__content" role="region" aria-labelledby="accordionWithUniqueId004">
        &lt;p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    &lt;/div>
&lt;/div>
&lt;div class="sdt-accordion sdt-accordion--active">
    &lt;h3 class="sdt-accordion__title">
        &lt;button id="accordionWithUniqueId005" class="sdt-accordion__button"
                 aria-expanded="false"
                 aria-controls="paneWithUniqueId005" type="button">Accordion title</button>
    &lt;/h3>
    &lt;div id="paneWithUniqueId005" class="sdt-accordion__content" role="region" aria-labelledby="accordionWithUniqueId005">
        &lt;p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    &lt;/div>
&lt;/div>
                </code>
            </pre>
            </section>
        </section>
        <section class="section conteneur"
                 id="documentation">
            <h2 class="section__titreH2">Documentation</h2>
            <h3 class="section__titreH3">SCSS</h3>
            <h4 class="section__titreH4">Modifiers</h4>
            <p>Use these modifiers with <code>.sdt-accordion</code> class.</p>
            <table>
                <thead>
                <tr>
                    <th>Default Selector</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><code>.sdt-accordion--active</code></td>
                    <td>The className for an active (open) accordion item</td>
                </tr>
                </tbody>
            </table>
        </section>
    </main>
</div>
<footer class="piv__pieddepage">
    <img src="../../liaisons/images/logo-saaq.svg" width="200" alt="">
    <p class="piv__credits">© Gouvernement du Québec, 2023</p>
</footer>
</body>
</html>



