<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <link href="../../liaisons/css/styles.css"
        rel="stylesheet">
  <title>Modal | Système de design transactionnel | SAAQ</title>
</head>
<body class="page">
<a href="#contenu" class="sauter-contenu screen-reader-only">Passer au contenu</a>
<header class="piv">
  <div class="piv__conteneur">
    <a href="../../index.html"
       target="_top"
       class="piv__logo">
      <img src="../../liaisons/images/logo-quebec.svg"
           alt="Gouvernement du Québec"
           width="160">
    </a>
    <nav class="piv__navigation">
      <ul>
        <li>
          <a href="../../index.html">Accueil</a>
        </li>
        <li>
          <a href="#">Nous joindre</a>
        </li>
      </ul>
    </nav>
    <a href="https://saaq.gouv.qc.ca/"
       class="piv__titre"
       target="_top">Société de l'assurance automobile du Québec</a>
  </div>
</header>
<div class="page__conteneur">
  <section class="barrelaterale">
    <nav class="navigation">
      <a href="../../index.html"
         class="barrelaterale__titreSite">Système de&nbsp;design transactionnel</a>
      <ul class="navigation__liste">
        <li class="navigation__listeItem">
          <a class="navigation__lien"
             href="#">Components</a>
          <ul class="navigation__liste">
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../accordion/accordion.html">Accordion</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../back-to-top/back-to-top.html">Back to top</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../breadcrumb/breadcrumb.html">Breadcrumb</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../button/button.html">Button</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../card/card.html">Card</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../checkbox/checkbox.html">Checkbox</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../content-switcher/content-switcher.html">Content switcher</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../data-table/data-table.html">Data table</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../date-picker/date-picker.html">Date picker</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../dropdown/dropdown.html">Dropdown</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../file-uploader/file-uploader.html">File uploader</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../form/form.html">Form</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../interior-left-nav/interior-left-nav.html">Interior Left Nav</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../link/link.html">Link</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../list/list.html">List</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../loading/loading.html">Loading</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../modal/modal.html">Modal</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../notification/notification.html">Notification</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../number-input/number-input.html">Number input</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../overflow-menu/overflow-menu.html">Overflow menu</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../pagination/pagination.html">Pagination</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../progress-indicator/progress-indicator.html">Progress indicator</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../radio-button/radio-button.html">Radio button</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../search/search.html">Search</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../select/select.html">Select</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../slider/slider.html">Slider</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../step-hint/step-hint.html">Step Hint</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../structured-list/structured-list.html">Structured list</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../tabs/tabs.html">Tabs</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../tag/tag.html">Tag</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../text-input/text-input.html">Text input</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../toggle/toggle.html">Toogle</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../tooltip/tooltip.html">Tooltip</a>
            </li>
          </ul>
        </li>
        <li class="navigation__listeItem">
          <a class="navigation__lien"
             href="#">Style</a>
          <ul class="navigation__liste">
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../../style/color/color.html">Color</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../../style/grid/grid.html">Grid</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../../style/iconography/iconography.html">Iconography</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../../style/typography.html">Typography</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </section>
  <main id="contenu" class="contenu">
    <section class="section entete">
      <h1 class="entete__titre">Modal</h1>
      <nav class="entete__navPage">
        <ul class="entete__navPageListe">
          <li class="entete__navPageListeItem">
            <a class="entete__navPageLien"
               href="#composante">Modal</a>
          </li>
          <li class="entete__navPageListeItem">
            <a class="entete__navPageLien"
               href="#composante--headings1">Modal noFooter
            </a>
          </li>
        </ul>
      </nav>
    </section>
    <section id="composante"
             class="section conteneur">
      <h2 class="section__titreH2">Modal</h2>
      <section class="section composante">
        <h2 class="screen-reader-only">Modal</h2>

        <button class="sdt-btn sdt-btn--primary" type="button" data-modal-target="#modal">Transactional</button>

        <div data-modal id="modal" class="sdt-modal" tabindex="-1">
          <div class="sdt-modal-container">
            <div class="sdt-modal-header">

              <p class="sdt-modal-header__heading sdt-type-beta">Modal heading</p>
              <button class="sdt-modal-close" type="button" data-modal-close aria-label="close modal">
                <svg class="sdt-modal-close__icon" width="10" height="10" viewBox="0 0 10 10" fill-rule="evenodd">
                  <title>Close Modal</title>
                  <path d="M9.8 8.6L8.4 10 5 6.4 1.4 10 0 8.6 3.6 5 .1 1.4 1.5 0 5 3.6 8.6 0 10 1.4 6.4 5z"></path>
                </svg>
              </button>
            </div>

            <div class="sdt-modal-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id accumsan augue. Phasellus consequat augue vitae
                tellus tincidunt posuere. Curabitur justo urna, consectetur vel elit iaculis, ultrices condimentum risus. Nulla facilisi.
                Etiam venenatis molestie tellus. Quisque consectetur non risus eu rutrum. </p>
            </div>

            <div class="sdt-modal-footer">
              <button class="sdt-btn sdt-btn--secondary" type="button" data-modal-close>Secondary button</button>
              <button class="sdt-btn sdt-btn--primary" type="button" data-modal-primary-focus>Primary button</button>
            </div>
          </div>
        </div>

        <button class="sdt-btn sdt-btn--danger--primary" type="button" data-modal-target="#modal--danger">Transactional Danger</button>

        <div data-modal id="modal--danger" class="sdt-modal sdt-modal--danger" tabindex="-1">
          <div class="sdt-modal-container">
            <div class="sdt-modal-header">

              <p class="sdt-modal-header__heading sdt-type-beta">Modal heading</p>
              <button class="sdt-modal-close" type="button" data-modal-close aria-label="close modal">
                <svg class="sdt-modal-close__icon" width="10" height="10" viewBox="0 0 10 10" fill-rule="evenodd">
                  <title>Close Modal</title>
                  <path d="M9.8 8.6L8.4 10 5 6.4 1.4 10 0 8.6 3.6 5 .1 1.4 1.5 0 5 3.6 8.6 0 10 1.4 6.4 5z"></path>
                </svg>
              </button>
            </div>

            <div class="sdt-modal-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id accumsan augue. Phasellus consequat augue vitae
                tellus tincidunt posuere. Curabitur justo urna, consectetur vel elit iaculis, ultrices condimentum risus. Nulla facilisi.
                Etiam venenatis molestie tellus. Quisque consectetur non risus eu rutrum. </p>
            </div>

            <div class="sdt-modal-footer">
              <button class="sdt-btn sdt-btn--tertiary" type="button" data-modal-close>Tertiary button</button>
              <button class="sdt-btn sdt-btn--danger--primary" type="button" aria-label="danger" data-modal-primary-focus>Danger button</button>
            </div>
          </div>
        </div>

      </section>

      <section id="code"
               class="section code">
        <h2 class="screen-reader-only">Code HTML</h2>
        <pre class="code-exemple">
                <code>
&lt;button class="sdt-btn sdt-btn--primary" type="button" data-modal-target="#modal">Transactional&lt;/button>
&lt;div data-modal id="modal" class="sdt-modal" tabindex="-1">
  &lt;div class="sdt-modal-container">
    &lt;div class="sdt-modal-header">

      &lt;p class="sdt-modal-header__heading sdt-type-beta">Modal heading&lt;/p>
      &lt;button class="sdt-modal-close" type="button" data-modal-close aria-label="close modal">
        &lt;svg class="sdt-modal-close__icon" width="10" height="10" viewBox="0 0 10 10" fill-rule="evenodd">
          &lt;title>Close Modal&lt;/title>
          &lt;path d="M9.8 8.6L8.4 10 5 6.4 1.4 10 0 8.6 3.6 5 .1 1.4 1.5 0 5 3.6 8.6 0 10 1.4 6.4 5z">&lt;/path>
        &lt;/svg>
      &lt;/button>
    &lt;/div>

    &lt;div class="sdt-modal-content">
      &lt;p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id accumsan augue. Phasellus consequat augue vitae
        tellus tincidunt posuere. Curabitur justo urna, consectetur vel elit iaculis, ultrices condimentum risus. Nulla facilisi.
        Etiam venenatis molestie tellus. Quisque consectetur non risus eu rutrum. &lt;/p>
    &lt;/div>

    &lt;div class="sdt-modal-footer">
      &lt;button class="sdt-btn sdt-btn--secondary" type="button" data-modal-close>Secondary button&lt;/button>
      &lt;button class="sdt-btn sdt-btn--primary" type="button" data-modal-primary-focus>Primary button&lt;/button>
    &lt;/div>
  &lt;/div>
&lt;/div>

&lt;button class="sdt-btn sdt-btn--danger--primary" type="button" data-modal-target="#modal--danger">Transactional Danger&lt;/button>

&lt;div data-modal id="modal--danger" class="sdt-modal sdt-modal--danger" tabindex="-1">
  &lt;div class="sdt-modal-container">
    &lt;div class="sdt-modal-header">

      &lt;p class="sdt-modal-header__heading sdt-type-beta">Modal heading&lt;/p>
      &lt;button class="sdt-modal-close" type="button" data-modal-close aria-label="close modal">
        &lt;svg class="sdt-modal-close__icon" width="10" height="10" viewBox="0 0 10 10" fill-rule="evenodd">
          &lt;title>Close Modal&lt;/title>
          &lt;path d="M9.8 8.6L8.4 10 5 6.4 1.4 10 0 8.6 3.6 5 .1 1.4 1.5 0 5 3.6 8.6 0 10 1.4 6.4 5z">&lt;/path>
        &lt;/svg>
      &lt;/button>
    &lt;/div>

    &lt;div class="sdt-modal-content">
      &lt;p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id accumsan augue. Phasellus consequat augue vitae
        tellus tincidunt posuere. Curabitur justo urna, consectetur vel elit iaculis, ultrices condimentum risus. Nulla facilisi.
        Etiam venenatis molestie tellus. Quisque consectetur non risus eu rutrum. &lt;/p>
    &lt;/div>

    &lt;div class="sdt-modal-footer">
      &lt;button class="sdt-btn sdt-btn--tertiary" type="button" data-modal-close>Tertiary button&lt;/button>
      &lt;button class="sdt-btn sdt-btn--danger--primary" type="button" aria-label="danger" data-modal-primary-focus>Danger button&lt;/button>
    &lt;/div>
  &lt;/div>
&lt;/div>
                </code>
            </pre>
      </section>
    </section>
    <section id="composante--headings1"
             class="section conteneur">
      <h2 class="section__titreH2">Modal noFooter</h2>
      <section class="section composante">
        <h2 class="screen-reader-only">Composante</h2>
        <!--                Code of component-->

        <button class="sdt-btn sdt-btn--secondary" type="button" data-modal-target="#nofooter">Passive</button>

        <div data-modal id="nofooter" class="sdt-modal" tabindex="-1">
          <div class="sdt-modal-container">
            <div class="sdt-modal-header">
              <p class="sdt-modal-header__heading sdt-type-beta">Modal heading</p>
              <button class="sdt-modal-close" type="button" data-modal-close data-modal-primary-focus aria-label="close modal">
                <svg class="sdt-modal-close__icon" width="10" height="10" viewBox="0 0 10 10" fill-rule="evenodd">
                  <title>Close Modal</title>
                  <path d="M9.8 8.6L8.4 10 5 6.4 1.4 10 0 8.6 3.6 5 .1 1.4 1.5 0 5 3.6 8.6 0 10 1.4 6.4 5z"></path>
                </svg>
              </button>
            </div>

            <div class="sdt-modal-content">
              <p>Passive modal notifications should only appear if there is an action the user needs to address immediately. Passive
                modal notifications are persistent on the screen.</p>
            </div>
          </div>
        </div>

        <button class="sdt-btn sdt-btn--danger" type="button" data-modal-target="#nofooter--danger">Passive Danger</button>

        <div data-modal id="nofooter--danger" class="sdt-modal sdt-modal--danger" tabindex="-1">
          <div class="sdt-modal-container">
            <div class="sdt-modal-header">
              <p class="sdt-modal-header__heading sdt-type-beta">Modal heading</p>
              <button class="sdt-modal-close" type="button" data-modal-close data-modal-primary-focus aria-label="close modal">
                <svg class="sdt-modal-close__icon" width="10" height="10" viewBox="0 0 10 10" fill-rule="evenodd">
                  <title>Close Modal</title>
                  <path d="M9.8 8.6L8.4 10 5 6.4 1.4 10 0 8.6 3.6 5 .1 1.4 1.5 0 5 3.6 8.6 0 10 1.4 6.4 5z"></path>
                </svg>
              </button>
            </div>

            <div class="sdt-modal-content">
              <p>Passive modal notifications should only appear if there is an action the user needs to address immediately. Passive
                modal notifications are persistent on the screen.</p>
            </div>
          </div>
        </div>


      </section>

      <section id="code--headings"
               class="section code">
        <h2 class="screen-reader-only">Code HTML</h2>
        <pre class="code-exemple">
                <code>
&lt;button class="sdt-btn sdt-btn--secondary" type="button" data-modal-target="#nofooter">Passive&lt;/button>

&lt;div data-modal id="nofooter" class="sdt-modal" tabindex="-1">
  &lt;div class="sdt-modal-container">
    &lt;div class="sdt-modal-header">
      &lt;p class="sdt-modal-header__heading sdt-type-beta">Modal heading&lt;/p>
      &lt;button class="sdt-modal-close" type="button" data-modal-close data-modal-primary-focus aria-label="close modal">
        &lt;svg class="sdt-modal-close__icon" width="10" height="10" viewBox="0 0 10 10" fill-rule="evenodd">
          &lt;title>Close Modal&lt;/title>
          &lt;path d="M9.8 8.6L8.4 10 5 6.4 1.4 10 0 8.6 3.6 5 .1 1.4 1.5 0 5 3.6 8.6 0 10 1.4 6.4 5z">&lt;/path>
        &lt;/svg>
      &lt;/button>
    &lt;/div>

    &lt;div class="sdt-modal-content">
      &lt;p>Passive modal notifications should only appear if there is an action the user needs to address immediately. Passive
        modal notifications are persistent on the screen.&lt;/p>
    &lt;/div>
  &lt;/div>
&lt;/div>

&lt;button class="sdt-btn sdt-btn--danger" type="button" data-modal-target="#nofooter--danger">Passive Danger&lt;/button>

&lt;div data-modal id="nofooter--danger" class="sdt-modal sdt-modal--danger" tabindex="-1">
  &lt;div class="sdt-modal-container">
    &lt;div class="sdt-modal-header">
      &lt;p class="sdt-modal-header__heading sdt-type-beta">Modal heading&lt;/p>
      &lt;button class="sdt-modal-close" type="button" data-modal-close data-modal-primary-focus aria-label="close modal">
        &lt;svg class="sdt-modal-close__icon" width="10" height="10" viewBox="0 0 10 10" fill-rule="evenodd">
          &lt;title>Close Modal&lt;/title>
          &lt;path d="M9.8 8.6L8.4 10 5 6.4 1.4 10 0 8.6 3.6 5 .1 1.4 1.5 0 5 3.6 8.6 0 10 1.4 6.4 5z">&lt;/path>
        &lt;/svg>
      &lt;/button>
    &lt;/div>

    &lt;div class="sdt-modal-content">
      &lt;p>Passive modal notifications should only appear if there is an action the user needs to address immediately. Passive
        modal notifications are persistent on the screen.&lt;/p>
    &lt;/div>
  &lt;/div>
&lt;/div>

                </code>
            </pre>
      </section>
    </section>
  </main>
</div>
<footer class="piv__pieddepage">
  <img src="../../liaisons/images/logo-saaq.svg" width="200" alt="">
  <p class="piv__credits">© Gouvernement du Québec, 2023</p>
</footer>
</body>
<script src="modal.js"
        type="text/javascript"></script>
</html>






