<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../../liaisons/css/styles.css" rel="stylesheet">
  <title>Structured List | Système de design transactionnel | SAAQ</title>
</head>
<body class="page">
<a href="#contenu" class="sauter-contenu screen-reader-only">Passer au contenu</a>
<header class="piv">
  <div class="piv__conteneur">
    <a href="../../index.html"
       target="_top"
       class="piv__logo">
      <img src="../../liaisons/images/logo-quebec.svg"
           alt="Gouvernement du Québec"
           width="160">
    </a>
    <nav class="piv__navigation">
      <ul>
        <li>
          <a href="../../index.html">Accueil</a>
        </li>
        <li>
          <a href="#">Nous joindre</a>
        </li>
      </ul>
    </nav>
    <a href="https://saaq.gouv.qc.ca/"
       class="piv__titre"
       target="_top">Société de l'assurance automobile du Québec</a>
  </div>
</header>
<div class="page__conteneur">
  <section class="barrelaterale">
    <nav class="navigation">
      <a href="../../index.html"
         class="barrelaterale__titreSite">Système de&nbsp;design transactionnel</a>
      <ul class="navigation__liste">
        <li class="navigation__listeItem">
          <a class="navigation__lien"
             href="#">Components</a>
          <ul class="navigation__liste">
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../accordion/accordion.html">Accordion</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../back-to-top/back-to-top.html">Back to top</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../breadcrumb/breadcrumb.html">Breadcrumb</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../button/button.html">Button</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../card/card.html">Card</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../checkbox/checkbox.html">Checkbox</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../content-switcher/content-switcher.html">Content switcher</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../data-table/data-table.html">Data table</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../date-picker/date-picker.html">Date picker</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../dropdown/dropdown.html">Dropdown</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../file-uploader/file-uploader.html">File uploader</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../form/form.html">Form</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../interior-left-nav/interior-left-nav.html">Interior Left Nav</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../link/link.html">Link</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../list/list.html">List</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../loading/loading.html">Loading</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../modal/modal.html">Modal</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../notification/notification.html">Notification</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../number-input/number-input.html">Number input</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../overflow-menu/overflow-menu.html">Overflow menu</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../pagination/pagination.html">Pagination</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../progress-indicator/progress-indicator.html">Progress indicator</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../radio-button/radio-button.html">Radio button</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../search/search.html">Search</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../select/select.html">Select</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../slider/slider.html">Slider</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../step-hint/step-hint.html">Step Hint</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../structured-list/structured-list.html">Structured list</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../tabs/tabs.html">Tabs</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../tag/tag.html">Tag</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../text-input/text-input.html">Text input</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../toggle/toggle.html">Toogle</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../tooltip/tooltip.html">Tooltip</a>
            </li>
          </ul>
        </li>
        <li class="navigation__listeItem">
          <a class="navigation__lien"
             href="#">Style</a>
          <ul class="navigation__liste">
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../../style/color/color.html">Color</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../../style/grid/grid.html">Grid</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../../style/iconography/iconography.html">Iconography</a>
            </li>
            <li class="navigation__listeItem">
              <a class="navigation__lien"
                 href="../../style/typography.html">Typography</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </section>
  <main id="contenu" class="contenu">
    <section class="section entete">
      <h1 class="entete__titre">Structured List</h1>
      <nav class="entete__navPage">
        <ul class="entete__navPageListe">
          <li class="entete__navPageListeItem">
            <a class="entete__navPageLien" href="#composante">Structured List</a>
          </li>
          <li class="entete__navPageListeItem">
            <a class="entete__navPageLien" href="#composante--headings1">Structured List Single
            </a>
          </li>
          <li class="entete__navPageListeItem">
            <a class="entete__navPageLien" href="#composante--headings2">Structured List Vertical
            </a>
          </li>
          <li class="entete__navPageListeItem">
            <a class="entete__navPageLien" href="#composante--headings3">Structured List Vertical Context
            </a>
          </li>
          <li class="entete__navPageListeItem">
            <a class="entete__navPageLien" href="#composante--headings4">Structured List Vertical Form
            </a>
          </li>
        </ul>
      </nav>
    </section>
    <section id="composante" class="section conteneur">
      <h2 class="section__titreH2">Structured List</h2>
      <section class="section composante">
        <h2 class="screen-reader-only">Composante</h2>
        <!--                Code of component-->
        <section class="sdt-structured-list">
          <div class="sdt-structured-list-thead">
            <div class="sdt-structured-list-row sdt-structured-list-row--header-row">
              <div class="sdt-structured-list-th">ColumnA</div>
              <div class="sdt-structured-list-th">ColumnB</div>
              <div class="sdt-structured-list-th">ColumnC</div>
            </div>
          </div>
          <div class="sdt-structured-list-tbody">
            <div class="sdt-structured-list-row">
              <div class="sdt-structured-list-td sdt-structured-list-content--nowrap">Row 1</div>
              <div class="sdt-structured-list-td">Row 1</div>
              <div class="sdt-structured-list-td">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dui magna, finibus id tortor sed,
                aliquet bibendum augue. Aenean
                posuere sem vel euismod dignissim. Nulla ut cursus dolor. Pellentesque vulputate nisl a porttitor
                interdum.
              </div>
            </div>
            <div class="sdt-structured-list-row">
              <div class="sdt-structured-list-td sdt-structured-list-content--nowrap">Row 2</div>
              <div class="sdt-structured-list-td">
                Row 2
              </div>
              <div class="sdt-structured-list-td">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dui magna, finibus id tortor sed,
                aliquet bibendum augue. Aenean
                posuere sem vel euismod dignissim. Nulla ut cursus dolor. Pellentesque vulputate nisl a porttitor
                interdum.
              </div>
            </div>

          </div>
        </section>
      </section>

      <section id="code" class="section code">
        <h2 class="screen-reader-only">Code HTML</h2>
        <pre class="code-exemple">
                <code>
&lt;section class="sdt-structured-list">
  &lt;div class="sdt-structured-list-thead">
    &lt;div class="sdt-structured-list-row sdt-structured-list-row--header-row">
      &lt;div class="sdt-structured-list-th">ColumnA&lt;/div>
      &lt;div class="sdt-structured-list-th">ColumnB&lt;/div>
      &lt;div class="sdt-structured-list-th">ColumnC&lt;/div>
    &lt;/div>
  &lt;/div>
  &lt;div class="sdt-structured-list-tbody">
    &lt;div class="sdt-structured-list-row">
      &lt;div class="sdt-structured-list-td sdt-structured-list-content--nowrap">Row 1&lt;/div>
      &lt;div class="sdt-structured-list-td">Row 1&lt;/div>
      &lt;div class="sdt-structured-list-td">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dui magna, finibus id tortor sed, aliquet bibendum augue. Aenean
        posuere sem vel euismod dignissim. Nulla ut cursus dolor. Pellentesque vulputate nisl a porttitor interdum.
      &lt;/div>
    &lt;/div>
    &lt;div class="sdt-structured-list-row">
      &lt;div class="sdt-structured-list-td sdt-structured-list-content--nowrap">Row 2&lt;/div>
      &lt;div class="sdt-structured-list-td">
        Row 2
      &lt;/div>
      &lt;div class="sdt-structured-list-td">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dui magna, finibus id tortor sed, aliquet bibendum augue. Aenean
        posuere sem vel euismod dignissim. Nulla ut cursus dolor. Pellentesque vulputate nisl a porttitor interdum.
      &lt;/div>
    &lt;/div>

  &lt;/div>
&lt;/section>
                </code>
            </pre>
      </section>
    </section>
    <section id="composante--headings1" class="section conteneur">
      <h2 class="section__titreH2">Structured List Single</h2>
      <section class="section composante">
        <h2 class="screen-reader-only">Composante</h2>
        <!--                Code of component-->
        <section class="sdt-structured-list sdt-structured-list-vertical-single">
          <div class="sdt-structured-list-tbody">
            <div class="sdt-structured-list-row">
              <div class="sdt-structured-list-td">
                Bank of America Canada
              </div>
            </div>

            <div class="sdt-structured-list-row">
              <div class="sdt-structured-list-td">
                21131548
              </div>
            </div>
            <div class="sdt-structured-list-row">
              <div class="sdt-structured-list-td">
                8 Rosalind St<br />
                49 Cochrane St<br />
                35 Bay Bulls Rd<br />
                133 Petty Harbour Rd<br />
                Québec Québec G1K 8J66<br />
                Canada
              </div>
            </div>
          </div>
        </section>

      </section>

      <section id="code--headings" class="section code">
        <h2 class="screen-reader-only">Code HTML</h2>
        <pre class="code-exemple">
                <code>
&lt;section class="sdt-structured-list sdt-structured-list-vertical-single">
  &lt;div class="sdt-structured-list-tbody">
    &lt;div class="sdt-structured-list-row">
      &lt;div class="sdt-structured-list-td">
        Bank of America Canada
      &lt;/div>
    &lt;/div>

    &lt;div class="sdt-structured-list-row">
      &lt;div class="sdt-structured-list-td">
        21131548
      &lt;/div>
    &lt;/div>
    &lt;div class="sdt-structured-list-row">
      &lt;div class="sdt-structured-list-td">
        8 Rosalind St&lt;br />
        49 Cochrane St&lt;br />
        35 Bay Bulls Rd&lt;br />
        133 Petty Harbour Rd&lt;br />
        Québec Québec G1K 8J66&lt;br />
        Canada
      &lt;/div>
    &lt;/div>
  &lt;/div>
&lt;/section>

                </code>
            </pre>
      </section>
    </section>
    <section id="composante--headings2" class="section conteneur">
      <h2 class="section__titreH2">Structured List Vertical</h2>
      <section class="section composante">
        <h2 class="screen-reader-only">Composante</h2>
        <!--                Code of component-->

        <section class="sdt-structured-list sdt-structured-list-vertical">
          <div class="sdt-structured-list-thead">
            <div class="sdt-structured-list-row sdt-structured-list-row--header-row">
              <div class="sdt-structured-list-th"></div>
              <div class="sdt-structured-list-th sdt-structured-list-content--nowrap">Column A</div>
              <div class="sdt-structured-list-th sdt-structured-list-content--nowrap">Column B</div>
            </div>
          </div>
          <div class="sdt-structured-list-tbody">
            <div class="sdt-structured-list-row">
              <div class="sdt-structured-list-td sdt-structured-list-content--nowrap">Row 1</div>
              <div class="sdt-structured-list-td">Row 1</div>
              <div class="sdt-structured-list-td">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dui magna, finibus id tortor sed,
                aliquet bibendum augue. Aenean
                posuere sem vel euismod dignissim. Nulla ut cursus dolor. Pellentesque vulputate nisl a porttitor
                interdum.
              </div>
            </div>
            <div class="sdt-structured-list-row">
              <div class="sdt-structured-list-td sdt-structured-list-content--nowrap">Row 2</div>
              <div class="sdt-structured-list-td">
                Row 2
              </div>
              <div class="sdt-structured-list-td">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dui magna, finibus id tortor sed,
                aliquet bibendum augue. Aenean
                posuere sem vel euismod dignissim. Nulla ut cursus dolor. Pellentesque vulputate nisl a porttitor
                interdum.
              </div>
            </div>
          </div>
        </section>

      </section>

      <section id="code--headings" class="section code">
        <h2 class="screen-reader-only">Code HTML</h2>
        <pre class="code-exemple">
                <code>

&lt;section class="sdt-structured-list sdt-structured-list-vertical">
  &lt;div class="sdt-structured-list-thead">
    &lt;div class="sdt-structured-list-row sdt-structured-list-row--header-row">
      &lt;div class="sdt-structured-list-th">&lt;/div>
      &lt;div class="sdt-structured-list-th sdt-structured-list-content--nowrap">Column A&lt;/div>
      &lt;div class="sdt-structured-list-th sdt-structured-list-content--nowrap">Column B&lt;/div>
    &lt;/div>
  &lt;/div>
  &lt;div class="sdt-structured-list-tbody">
    &lt;div class="sdt-structured-list-row">
      &lt;div class="sdt-structured-list-td sdt-structured-list-content--nowrap">Row 1&lt;/div>
      &lt;div class="sdt-structured-list-td">Row 1&lt;/div>
      &lt;div class="sdt-structured-list-td">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dui magna, finibus id tortor sed, aliquet bibendum augue. Aenean
        posuere sem vel euismod dignissim. Nulla ut cursus dolor. Pellentesque vulputate nisl a porttitor interdum.
      &lt;/div>
    &lt;/div>
    &lt;div class="sdt-structured-list-row">
      &lt;div class="sdt-structured-list-td sdt-structured-list-content--nowrap">Row 2&lt;/div>
      &lt;div class="sdt-structured-list-td">
        Row 2
      &lt;/div>
      &lt;div class="sdt-structured-list-td">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dui magna, finibus id tortor sed, aliquet bibendum augue. Aenean
        posuere sem vel euismod dignissim. Nulla ut cursus dolor. Pellentesque vulputate nisl a porttitor interdum.
      &lt;/div>
    &lt;/div>
  &lt;/div>
&lt;/section>

                </code>
            </pre>
      </section>
    </section>
    <section id="composante--headings3" class="section conteneur">
      <h2 class="section__titreH2">Structured List Vertical Context</h2>
      <section class="section composante">
        <h2 class="screen-reader-only">Composante</h2>
        <!--                Code of component-->

        <section class="sdt-structured-list sdt-structured-list-vertical">
          <div class="sdt-structured-list-tbody">
            <div class="sdt-structured-list-row">
              <div class="sdt-structured-list-td sdt-structured-list-content--nowrap">Nom</div>
              <div class="sdt-structured-list-td">
                Bank of America Canada
              </div>
            </div>

            <div class="sdt-structured-list-row">
              <div class="sdt-structured-list-td sdt-structured-list-content--nowrap">Nom de l'institution
                financière</div>
              <div class="sdt-structured-list-td">
                21131548
              </div>
            </div>

            <div class="sdt-structured-list-row">
              <div class="sdt-structured-list-td sdt-structured-list-content--nowrap">Adresse de l’institution
                financière</div>
              <div class="sdt-structured-list-td">
                8 Rosalind St<br />
                49 Cochrane St<br />
                35 Bay Bulls Rd<br />
                133 Petty Harbour Rd<br />
                Québec Québec G1K 8J66<br />
                Canada
              </div>
            </div>

            <div class="sdt-structured-list-row">
              <div class="sdt-structured-list-td sdt-structured-list-content--nowrap">Numéro de la succursale</div>
              <div class="sdt-structured-list-td">
                841231356
              </div>
            </div>

            <div class="sdt-structured-list-row">
              <div class="sdt-structured-list-td sdt-structured-list-content--nowrap">Numéro de l’institution
                financière</div>
              <div class="sdt-structured-list-td">
                8465132568
              </div>
            </div>

            <div class="sdt-structured-list-row">
              <div class="sdt-structured-list-td sdt-structured-list-content--nowrap">Numéro de compte</div>
              <div class="sdt-structured-list-td">
                ***7172
              </div>
            </div>
          </div>
        </section>
      </section>

      <section id="code--headings" class="section code">
        <h2 class="screen-reader-only">Code HTML</h2>
        <pre class="code-exemple">
                <code>

&lt;section class="sdt-structured-list sdt-structured-list-vertical">
  &lt;div class="sdt-structured-list-tbody">
    &lt;div class="sdt-structured-list-row">
      &lt;div class="sdt-structured-list-td sdt-structured-list-content--nowrap">Nom&lt;/div>
      &lt;div class="sdt-structured-list-td">
        Bank of America Canada
      &lt;/div>
    &lt;/div>

    &lt;div class="sdt-structured-list-row">
      &lt;div class="sdt-structured-list-td sdt-structured-list-content--nowrap">Nom de l'institution financière&lt;/div>
      &lt;div class="sdt-structured-list-td">
        21131548
      &lt;/div>
    &lt;/div>

    &lt;div class="sdt-structured-list-row">
      &lt;div class="sdt-structured-list-td sdt-structured-list-content--nowrap">Adresse de l’institution financière&lt;/div>
      &lt;div class="sdt-structured-list-td">
        8 Rosalind St&lt;br />
        49 Cochrane St&lt;br />
        35 Bay Bulls Rd&lt;br />
        133 Petty Harbour Rd&lt;br />
        Québec Québec G1K 8J66&lt;br />
        Canada
      &lt;/div>
    &lt;/div>

    &lt;div class="sdt-structured-list-row">
      &lt;div class="sdt-structured-list-td sdt-structured-list-content--nowrap">Numéro de la succursale&lt;/div>
      &lt;div class="sdt-structured-list-td">
        841231356
      &lt;/div>
    &lt;/div>

    &lt;div class="sdt-structured-list-row">
      &lt;div class="sdt-structured-list-td sdt-structured-list-content--nowrap">Numéro de l’institution financière&lt;/div>
      &lt;div class="sdt-structured-list-td">
        8465132568
      &lt;/div>
    &lt;/div>

    &lt;div class="sdt-structured-list-row">
      &lt;div class="sdt-structured-list-td sdt-structured-list-content--nowrap">Numéro de compte&lt;/div>
      &lt;div class="sdt-structured-list-td">
        ***7172
      &lt;/div>
    &lt;/div>
  &lt;/div>
&lt;/section>
                </code>
            </pre>
      </section>
    </section>
    <section id="composante--headings4" class="section conteneur">
      <h2 class="section__titreH2">Structured List Vertical Form</h2>
      <section class="section composante">
        <h2 class="screen-reader-only">Composante</h2>
        <!--                Code of component-->

        <table class="sdt-structured-list sdt-structured-list-vertical sdt-structured-list-vertical-form">
          <thead class="sdt-structured-list-thead">
          <tr class="sdt-structured-list-row sdt-structured-list-row--header-row">
            <th class="sdt-structured-list-th"></th>
            <th class="sdt-structured-list-th sdt-structured-list-content--nowrap">Column A</th>
            <th class="sdt-structured-list-th sdt-structured-list-content--nowrap">Column B</th>
          </tr>
          </thead>
          <tbody class="sdt-structured-list-tbody">
          <tr class="sdt-structured-list-row">
            <td class="sdt-structured-list-td sdt-structured-list-content--nowrap">Row 1</td>
            <td class="sdt-structured-list-td sdt-structured-list-content--nowrap">
              <div class="sdt-text-input__inline-block">
                <input data-text-input="" data-text-input-lang="fr" data-text-input-type="integer" type="text"
                       class="sdt-text-input sdt-text-input--right" placeholder="10 418">
              </div><span style="margin-left: 10px;">km</span>
            </td>
            <td class="sdt-structured-list-td">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </td>
          </tr>
          <tr class="sdt-structured-list-row">
            <td class="sdt-structured-list-td sdt-structured-list-content--nowrap">Row 2</td>
            <td class="sdt-structured-list-td sdt-structured-list-content--nowrap">
              <div class="sdt-text-input__inline-block">
                <input data-text-input="" data-text-input-lang="fr" data-text-input-type="integer" type="text"
                       class="sdt-text-input sdt-text-input--right" placeholder="10 418">
              </div><span style="margin-left: 10px;">km</span>
            </td>
            <td class="sdt-structured-list-td">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </td>
          </tr>
          </tbody>
        </table>

        <table class="sdt-structured-list sdt-structured-list-vertical sdt-structured-list-vertical-form">
          <thead class="sdt-structured-list-thead">
          <tr class="sdt-structured-list-row sdt-structured-list-row--header-row">
            <th class="sdt-structured-list-th"></th>
            <th class="sdt-structured-list-th sdt-structured-list-content--nowrap">Column A</th>
            <th class="sdt-structured-list-th sdt-structured-list-content--nowrap">Column B</th>
          </tr>
          </thead>
          <tbody class="sdt-structured-list-tbody">
          <tr class="sdt-structured-list-row sdt-structured-list-row--error">
            <td class="sdt-structured-list-td sdt-structured-list-content--nowrap">Row 1</td>
            <td class="sdt-structured-list-td sdt-structured-list-content--nowrap">
              <div class="sdt-text-input__inline-block">
                <input data-text-input="" data-text-input-lang="fr" data-text-input-type="integer" type="text"
                       class="sdt-text-input sdt-text-input--right" placeholder="10 418">
              </div><span style="margin-left: 10px;">km</span>
            </td>
            <td class="sdt-structured-list-td">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </td>
          </tr>
          <tr class="sdt-structured-list-row--error sdt-structured-list-row--error-message">
            <td colspan="3" class="sdt-structured-list-td sdt-structured-list-td--error-message">
              Invalid value.
            </td>
          </tr>
          <tr class="sdt-structured-list-row">
            <td class="sdt-structured-list-td sdt-structured-list-content--nowrap">Row 2</td>
            <td class="sdt-structured-list-td sdt-structured-list-content--nowrap">
              <div class="sdt-text-input__inline-block">
                <input data-text-input="" data-text-input-lang="fr" data-text-input-type="integer" type="text"
                       class="sdt-text-input sdt-text-input--right" placeholder="10 418">
              </div><span style="margin-left: 10px;">km</span>
            </td>
            <td class="sdt-structured-list-td">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </td>
          </tr>
          </tbody>
        </table>

      </section>

      <section id="code--headings" class="section code">
        <h2 class="screen-reader-only">Code HTML</h2>
        <pre class="code-exemple">
                <code>

&lt;table class="sdt-structured-list sdt-structured-list-vertical sdt-structured-list-vertical-form">
  &lt;thead class="sdt-structured-list-thead">
    &lt;tr class="sdt-structured-list-row sdt-structured-list-row--header-row">
      &lt;th class="sdt-structured-list-th">&lt;/th>
      &lt;th class="sdt-structured-list-th sdt-structured-list-content--nowrap">Column A&lt;/th>
      &lt;th class="sdt-structured-list-th sdt-structured-list-content--nowrap">Column B&lt;/th>
    &lt;/tr>
  &lt;/thead>
  &lt;tbody class="sdt-structured-list-tbody">
    &lt;tr class="sdt-structured-list-row">
      &lt;td class="sdt-structured-list-td sdt-structured-list-content--nowrap">Row 1&lt;/td>
      &lt;td class="sdt-structured-list-td sdt-structured-list-content--nowrap">
        &lt;div class="sdt-text-input__inline-block">
          &lt;input data-text-input="" data-text-input-lang="fr" data-text-input-type="integer" type="text"
                  class="sdt-text-input sdt-text-input--right" placeholder="10 418">
        &lt;/div>&lt;span style="margin-left: 10px;">km&lt;/span>
      &lt;/td>
      &lt;td class="sdt-structured-list-td">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      &lt;/td>
    &lt;/tr>
    &lt;tr class="sdt-structured-list-row">
      &lt;td class="sdt-structured-list-td sdt-structured-list-content--nowrap">Row 2&lt;/td>
      &lt;td class="sdt-structured-list-td sdt-structured-list-content--nowrap">
        &lt;div class="sdt-text-input__inline-block">
          &lt;input data-text-input="" data-text-input-lang="fr" data-text-input-type="integer" type="text"
                  class="sdt-text-input sdt-text-input--right" placeholder="10 418">
        &lt;/div>&lt;span style="margin-left: 10px;">km&lt;/span>
      &lt;/td>
      &lt;td class="sdt-structured-list-td">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      &lt;/td>
    &lt;/tr>
  &lt;/tbody>
&lt;/table>

&lt;table class="sdt-structured-list sdt-structured-list-vertical sdt-structured-list-vertical-form">
  &lt;thead class="sdt-structured-list-thead">
    &lt;tr class="sdt-structured-list-row sdt-structured-list-row--header-row">
      &lt;th class="sdt-structured-list-th">&lt;/th>
      &lt;th class="sdt-structured-list-th sdt-structured-list-content--nowrap">Column A&lt;/th>
      &lt;th class="sdt-structured-list-th sdt-structured-list-content--nowrap">Column B&lt;/th>
    &lt;/tr>
  &lt;/thead>
  &lt;tbody class="sdt-structured-list-tbody">
    &lt;tr class="sdt-structured-list-row sdt-structured-list-row--error">
      &lt;td class="sdt-structured-list-td sdt-structured-list-content--nowrap">Row 1&lt;/td>
      &lt;td class="sdt-structured-list-td sdt-structured-list-content--nowrap">
        &lt;div class="sdt-text-input__inline-block">
          &lt;input data-text-input="" data-text-input-lang="fr" data-text-input-type="integer" type="text" class="sdt-text-input sdt-text-input--right" placeholder="10 418">
        &lt;/div>&lt;span style="margin-left: 10px;">km&lt;/span>
      &lt;/td>
      &lt;td class="sdt-structured-list-td">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      &lt;/td>
    &lt;/tr>
    &lt;tr class="sdt-structured-list-row--error sdt-structured-list-row--error-message">
      &lt;td colspan="3" class="sdt-structured-list-td sdt-structured-list-td--error-message">
        Invalid value.
      &lt;/td>
    &lt;/tr>
    &lt;tr class="sdt-structured-list-row">
      &lt;td class="sdt-structured-list-td sdt-structured-list-content--nowrap">Row 2&lt;/td>
      &lt;td class="sdt-structured-list-td sdt-structured-list-content--nowrap">
        &lt;div class="sdt-text-input__inline-block">
          &lt;input data-text-input="" data-text-input-lang="fr" data-text-input-type="integer" type="text" class="sdt-text-input sdt-text-input--right" placeholder="10 418">
        &lt;/div>&lt;span style="margin-left: 10px;">km&lt;/span>
      &lt;/td>
      &lt;td class="sdt-structured-list-td">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      &lt;/td>
    &lt;/tr>
  &lt;/tbody>
&lt;/table>

                </code>
            </pre>
      </section>
    </section>
  </main>
</div>
<footer class="piv__pieddepage">
  <img src="../../liaisons/images/logo-saaq.svg" width="200" alt="">
  <p class="piv__credits">© Gouvernement du Québec, 2023</p>
</footer>
</body>
</html>
